[2013-08-16 10:33] lhs286266503 opened #1 "help!!! how suport android x86?"
like title

[2013-09-04 17:02] icyfox-bupt opened #2 "Help! How can I use it on my phone?"
I have put a "1.gif" at sdcard
and change the line 43 to:
GifDrawable drw=new GifDrawable("/sdcard/1.gif");

but it tell me:
java.lang.ExceptionInInitializerError

so how to use it?
thank you!

[2013-09-05 03:21] #2 closed, assigned to nobody

[2013-09-12 10:31] kylin17 opened #3 "Error when read large gif image"
Gif image is almost 5M, repeat twice and then get error and force close

09-12 18:27:00.368: E/dalvikvm(20336): Unknown format 32 in dvmGetExpandedRegisterMap

09-12 18:27:00.368: E/dalvikvm(20336): VM aborting

09-12 18:27:00.368: A/libc(20336): Fatal signal 11 (SIGSEGV) at 0xdeadd00d (code=1)

[2013-09-14 00:05] #3 closed, assigned to koral--

[2013-10-10 12:02] cnzhujie opened #4 "How to change the gif image using java code?"
请问如何动态更换gif？

[2013-10-10 12:10] xiaoxxaoniao opened #5 "say clearly"

[2013-10-10 14:08] #5 closed, assigned to nobody

[2013-10-16 10:04] cnzhujie opened #6 "Memory access exception"
I attach the GifDrawable to a ImageView,but I found that while the imageview destroy,application abnormal exit.

logs are here:
<code>
10-16 09:32:15.224: D/dalvikvm(364): GC_EXTERNAL_ALLOC freed 331 objects / 12744 bytes in 107ms
10-16 09:32:15.224: D/GifDrawable(364): recycle
10-16 09:32:15.343: I/DEBUG(31): **\* **\* **\* **\* **\* **\* **\* **\* **\* **\* **\* **\* **\* **\* **\* ***
10-16 09:

[2013-10-16 22:53] #6 closed, assigned to koral--

[2013-10-16 22:53] #4 closed, assigned to koral--

[2013-11-12 22:21] Wavesonics opened #7 "Maven central"
It would be great to get this into Maven central. Thanks for your effort, this has been a sorely missed bit of code in Android.

[2013-11-13 23:26] Wavesonics opened #8 "GifDrawable needs public visibility"
Currently it's impossible to make a GifDrawable outside of the context of the helper (GifImageView) classes because it only has package visibility.

[2013-11-13 23:43] #8 closed, assigned to nobody

[2013-11-14 22:02] Wavesonics opened #10 "1.0.0 release JAR improperly formatted"
The release jar provided needs a different internal directory structure for Android to be able to find the native libs at run time.

Currently the different cpu architecture directories are siblings with the top level Java package directory. Instead, the architecture directories need to be children of a **lib** directory. Note that it's _singular_ lib, not the plural _libs_ from the standard andro

[2013-11-15 03:41] Wavesonics opened #12 "Fatal signal 11 with GifDrawable created from InputStream"
I'm tracking down a crash in the native side.

**Repro:**
Create a GifDrawable from a ByteArrayInputStream: _new GifDrawable( inputStream )_

It will appear to create correctly, reporting proper width, height, and no error.

However, once a frame is requested from it, it will crash with the following back trace:

signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 000002c0
00  pc 00001670  /data

[2013-11-16 23:21] #12 closed, assigned to koral--

[2013-11-18 00:28] #10 closed, assigned to koral--

[2013-11-18 00:58] koral-- opened #13 "Buffer for use with InputStream"
Creating one reusable Java's byte array per GifDrawable instance will be more efficient than allocating new array in each `streamReadFun()` call.

[2013-11-23 13:40] #1 closed, assigned to nobody

[2013-11-30 00:25] #13 closed, assigned to koral--

[2013-11-30 00:31] koral-- opened #16 "More input sources"
eg. ByteBuffer

[2013-11-30 23:55] Wavesonics opened #17 "1.0.2 jar UnsatisfiedLinkError"
Just changed my project to use the new 1.0.2 release jar, and I'm getting linking errors:

Caused by: java.lang.UnsatisfiedLinkError: dlopen failed: "/data/app-lib/com.xxx.xxx-1/libgif.so" has no loadable segments

I inspected the jar and it looks fine to me, so I currently have no idea what the problem is.

However, it's not a simple "can't find lib", so maybe the actual binaries were just built

[2013-12-01 01:32] #17 closed, assigned to koral--

[2013-12-01 01:35] koral-- opened #18 "Fix pom.xml"
.so files generated by android-maven-plugin are invalid

[2013-12-05 12:41] scruffyfox opened #19 "Some gifs not playing correctly"
I have an issue where certain gifs wont render correctly, but others do (possibly an encoding issue?)

Ones that dont work:

http://i.imgur.com/HUvsoJR.gif
http://i.imgur.com/LV0X7iT.gif

Ones that do work:

http://s.scruffyfox.me/rqAbkSN.gif

[2013-12-05 14:45] #19 closed, assigned to koral--

[2013-12-09 01:26] #16 closed, assigned to koral--

[2013-12-09 03:06] Wavesonics opened #20 "Reset to first frame"
It would be super sweet to get a method to reset a GIF while it's animating to the first frame. Essentially starting it over.

[2013-12-11 01:45] #20 closed, assigned to koral--

[2013-12-14 01:05] Wavesonics opened #21 "1.0.4 release"
I'd love to get the GIF reset and the mem free fix in, what about doing a new release w\ those?

[2013-12-14 19:34] #21 closed, assigned to nobody

[2013-12-14 19:55] #18 closed, assigned to koral--

[2013-12-14 21:23] koral-- opened #22 "Add support to change animation speed"
Eg. by modifying original duration of frames

[2013-12-15 00:11] #22 closed, assigned to koral--

[2013-12-15 00:55] koral-- opened #23 "Implement MediaPlayerControl"

[2013-12-15 01:21] Wavesonics opened #24 "Calling start() after calling stop() does not resume playing"
If I have a GIf currently animating, and I call:
gifDrawable.stop();

It pauses on the current frame as expected. But calling:
gifDrawable.start();

while it is stopped does not resume it playing.

[2013-12-15 17:12] #24 closed, assigned to koral--

[2014-01-03 02:20] xiphirx opened #25 "NDK Library files are in the wrong directory?"
I have included the project via maven in eclipse, and when I attempt to run my project I receive the following error,

![image](https://f.cloud.github.com/assets/993832/1837109/54ee8aac-741d-11e3-9f28-2cb5c2a1101e.png)

I'm aware of the force error option and I have it disabled. The odd thing is that I have other JARs in this project that also include native libraries, and they allow the project t

[2014-01-06 00:23] #25 closed, assigned to koral--

[2014-01-26 00:31] Wavesonics opened #26 "1.0.5 release jar"
Can you provide a .jar for the 1.0.5 release?

[2014-01-26 00:32] Wavesonics opened #27 "Produce .aar in addition to .apklib for releases"
It would be very helpful to produce a .aar file for releases

[2014-01-26 18:01] #23 closed, assigned to nobody

[2014-01-28 21:39] Wavesonics opened #28 "GifImageView Exception in EditorMode"
So I'm using GifImageView in a layout, and I'm setting a non-GIF src image in XML:
android:src="@drawable/not_a_gif"

And I'm getting the following exception in the layout preview:

java.lang.UnsupportedOperationException
    at android.content.res.BridgeResources.getResourceTypeName(BridgeResources.java:479)
    at pl.droidsonroids.gif.GifImageView.trySetGifDrawable(GifImageView.java:74)
    at p

[2014-01-29 00:29] #28 closed, assigned to nobody

[2014-02-01 03:43] Wavesonics opened #29 "Need to be able to get size in bytes from GifDrawables"
I don't think this should be particularly difficult, but with other drawables, like Bitmaps, we can determine their size in bytes, which is very useful for caching strategies. But with GifDrawable, once we create one, we have no way of querying it for it's size in bytes.

Just a method like: getNumBytes() or what ever would be very useful!

[2014-02-03 02:11] Wavesonics opened #30 "Bad performance in ListView"
The core problem is in ListView items that contain an ImageView which may contain a GifDrawable. If we create a new GifDrawable object every time the item view is requested, we end up with a ton of allocations and cause some major GC thrashing when you are scrolling quickly.

For comparison: using the ImageView's setBitmap(), it internally creates a new BitmapDrawable to wrap the Bitmap object you

[2014-02-04 06:59] felixqk opened #31 "High CPU usage even display a single GIF"
![screen shot 2014-02-04 at 3 04 20 pm](https://f.cloud.github.com/assets/2755886/2073839/8886f726-8d6a-11e3-9d4e-b9e89f34ed1a.png)
First, very good library, works on many phones/Android versions.

However, when check the CPU usage, it seems consuming a lot.

Tested on Android 2.3 on a low end phone, keeps 90% CPU usage.
on Galaxy S4, it also use 60% - 70% CPU

Any suggestions on the optimization?

[2014-02-08 22:14] #27 closed, assigned to koral--

[2014-02-08 22:15] #26 closed, assigned to nobody

[2014-02-11 00:21] #29 closed, assigned to koral--

[2014-02-11 01:39] #31 closed, assigned to koral--

[2014-02-11 01:42] koral-- opened #32 "Add gradle files"

[2014-02-11 01:44] koral-- opened #33 "Create sample project"

[2014-02-16 02:28] #33 closed, assigned to koral--

[2014-02-16 14:03] #32 closed, assigned to koral--

[2014-02-16 22:42] koral-- opened #34 "Add method for getting frame ARGB data"
Currently there is no direct way to get each frame ARGB data. Two methods can be added:
- `seekToFrame(int frameIndex)` - will seek to frame having given frameIndex
- `getPixels(int[] buffer)` - will copy current frame buffer to given buffer

[2014-02-17 01:18] #34 closed, assigned to koral--

[2014-02-17 07:48] xckevin opened #35 "ImageView.ScaleType doesn't work if use GifDrawable"
As title metioned, I declare a ImageView in xml layou file,

[code]

In activity, I use it lick this

[code]

I tried all of scaleType enum, there is only fitXY and fitCenter don't work. It always shows in the upper left corner in ImageView. Cound you fix it ASAP? many thanks!

[2014-02-18 01:28] #35 closed, assigned to koral--

[2014-02-18 23:45] koral-- opened #36 "Add auto mirroring support like BitmapDrawable"

[2014-02-27 02:11] #7 closed, assigned to koral--

[2014-02-27 02:12] koral-- opened #37 "update Readme.md"
Add info about gradle

[2014-02-28 01:34] elihart opened #38 "Memory leak on constructor error"
When I try to create a `new GifDrawable(byte[])` and it fails because the file is not a gif, I am left with a dangling byte[] of the size of the image that can never be freed. Over time this leads to large memory problems.

The problem seems to be somewhere in `openByteArray()`, but I haven't been able to track down the exact problem in the C code.

I load lots of images that may or may not be gif

[2014-03-01 02:07] #38 closed, assigned to nobody

[2014-03-03 02:09] #37 closed, assigned to nobody

[2014-03-11 12:55] hjpc opened #39 "Loading multiple GIF files causes image frames to be displayed incorrectly"
I tried to load several GIF files from a remote server using the android-gif-drawable classes, but the following issues occurred:
- Loading single GIF file can render and playback properly
- When different GIF files are loaded, all frames from loaded GIF files are added to all GifDrawable instances, thus causing all image views using GifDrawable to playback all frames from all loaded GIF files.

T

[2014-03-14 00:28] #39 closed, assigned to nobody

[2014-03-16 19:35] sjkaris opened #40 "Transparent Background with gif."
I am not entirely sure, but I have tried for a while and never successfully gotten a gif with a transparent background to have a transparent background while playing. For gifs with transparent backgrounds, the GifImageView seems to take the most common color in the gif and use that as a background for the View. Additionally, the background flickers every loop of the gif as the background changes f

[2014-03-16 23:30] #40 closed, assigned to koral--

[2014-03-16 23:39] koral-- opened #41 "Add documentation for native sources"

[2014-03-18 09:05] zhouyu260 opened #42 "New Issue"
http://s1.dwstatic.com/group1/M00/92/68/67a52d97b54c0531e3807bfd4a71b731.gif

A/libc(10376): Fatal signal 11 (SIGSEGV) at 0x00000000 (code=1), thread 10376

[2014-03-19 02:24] #42 closed, assigned to koral--

[2014-03-25 17:20] Wavesonics opened #43 "Release 1.0.7"
I believe there were some good crash & mem fixes that haven't been released yet, could we get an aar up on maven central for 1.0.7?

[2014-03-26 00:39] #43 closed, assigned to nobody

[2014-03-26 00:40] koral-- opened #44 "Add some unit tests"

[2014-03-26 17:51] Wavesonics opened #45 "Post 1.0.7 release to the releases section"
Just noticed the 1.0.7 release wasn't in the GitHub releases section yet, that'd be useful for people not using maven central.

[2014-03-27 00:55] #45 closed, assigned to nobody

[2014-03-29 08:46] SpecialCyCi opened #46 "Should release mColors in recycle?"
It seems like that mColors has not been recycled by VM...

[2014-03-31 09:28] DrKLO opened #47 "GifDrawable sometimes can't resume"
Sometimes in native function https://github.com/koral--/android-gif-drawable/blob/master/jni/gif.c#L1202 info->lastFrameReaminder becomes > 0, so after resume metadata[4] becomes < 0, so https://github.com/koral--/android-gif-drawable/blob/master/src/pl/droidsonroids/gif/GifDrawable.java#L708 will be always negative and animation stops.

I fixed it by adding check in saveReminder:

[code]

I can r

[2014-04-01 23:30] #47 closed, assigned to koral--

[2014-04-03 09:50] ghost opened #48 "Out of memory - memleak?"
Hi guys,
I've developped an app that basically consists of a FragmentActivity and each Fragment itself mainly displays one image. Many of these images are animated gifs. Previously, I used WebView to display the animated gifs, however, this has some disadvantages (mainly sliding and zooming does not work nicely).
So I've decided to use android-gif-drawable. Works pretty nice in general. However, a

[2014-04-03 14:38] #48 closed, assigned to koral--

[2014-04-07 05:20] crysan opened #49 "Add sample project"
Please add the sample project!

[2014-04-09 10:09] reipielr opened #50 "This GIF File kills App"
![img_bad](https://cloud.githubusercontent.com/assets/1982935/2654208/f630351c-bfce-11e3-9a50-d3c978e7edee.gif)

T^T

[2014-04-09 16:42] felikz3 opened #51 "UnsatisfiedLinkError"
On the phone (Galaxy S (GT-I9000) and Xperia T (LT30p) running 4.4 and 4.3) of two of my friends I from time to time get this strange error that crashes the app:
[code]

Usually this works fine. Could this be a problem of the library or rather an android bug? Thanks!

[2014-04-10 23:24] #50 closed, assigned to koral--

[2014-04-13 08:52] mtfranchetto opened #52 "NoClassDefFoundError when passing byte array"
First, thanks for this amazing library, but when i pass a byte array to the GifDrawable constructor sometimes i get a NoClassDefFoundError.
This is a part of the stacktrace:

[code]

This happens on many devices, with different versions of Android.

[2014-04-13 16:14] #52 closed, assigned to nobody

[2014-04-16 01:12] #46 closed, assigned to koral--

[2014-04-17 14:29] wangzhiyuan opened #53 "png in gif-drawable not show"
log :Data is not in GIF format

code:   public void display(String uri,Bitmap bitmap, ImageAware imageAware, LoadedFrom loadedFrom) {

if(!uri.endsWith(".gif"))
    imageAware.setImageBitmap(bitmap);
        else{
    File file = DiscCacheUtils.findInCache(uri, ImageLoader.getInstance().getDiscCache());
        try {
            Lg.e("file=============" + file.getAbsolutePath() + "---------" + fil

[2014-04-17 23:40] #53 closed, assigned to nobody

[2014-04-29 09:24] eresid opened #54 "Load Gif file from sd card"
I use
GifImageView _gif = (GifImageView) view.findViewById(R.id.effect_gif);
_gif.setImageURI(Uri.fromFile(new File(file)));
But I see only first frame. How correct show gif from sd card in GifImageView?

[2014-04-30 01:16] #54 closed, assigned to nobody

[2014-05-03 23:36] koral-- opened #55 "Try using scheduleSelf instead of Handler"

[2014-05-04 03:59] dreamtalee opened #56 "The gif is showing badly on atom cpu"
I used the project as library project in my project, and got some feedback from user, they said the gif show badly in their devices. After some analysis, i found a clue is that their cpu is atom architecture(x86), as well the project has included an x86 lib folder with libgif.so.

So is this an defeat on atom cpu? Any advice for solving the problem will be appreciated : )

[2014-05-05 01:16] #49 closed, assigned to koral--

[2014-05-10 02:26] Soreepeong opened #57 "draw: decode in background"
I was suspecting that renderFrame(mColors, mGifInfoPtr, mMetaData); was decoding the GIF file to mColors all the time when it had to load next GIF Frame. So I changed draw(), start(), and stop() in order to make decoding happen in the background as in the following link. http://pastebin.com/GFt8t6H7 (I always used start() in my test app)
After this, Android GPU Rendering Profile shows siginifcantl

[2014-05-20 05:58] ghost opened #60 "Animations sometimes don't resume after stop/start"
I've seen the previous (resolved) issue but still have the issue using https://github.com/koral--/android-gif-drawable/commit/69a0d231ec30e9734825a51f43afab5f40620dfa .

Sometimes when stopping and later starting a gif, the gif will only draw one frame and not continue animating. This seems to be due to a logic error in renderFrame causing it to return a negative value for rawMetaData[4].

[code]

[2014-05-25 23:22] #56 closed, assigned to nobody

[2014-05-27 00:35] #60 closed, assigned to nobody

[2014-06-03 00:23] #55 closed, assigned to nobody

[2014-06-04 12:04] mario opened #61 "Animation not starting?"
Using ProGuard, and have -keep public class pl.droidsonroids.gif.GifIOException{*;} as suggested.

[2014-06-09 12:13] JackBall opened #62 "Play GIF moving has appear Blurred"
When i paly gif moving will appear Blurred on some models；
；

[2014-06-12 07:28] ghost opened #63 "GIF is not played (only first frame visible)"
Hi!
The following GIF is just not played, only the first frame is visible:
http://img.pr0gramm.com/2014/06/12/8a7b75e6f133648d.gif

[2014-06-14 18:33] #63 closed, assigned to koral--

[2014-06-19 07:37] TT1943 opened #64 "Cannot find a way to use animated bitmap in GifImageView"
Hi, I download an animated gif from a url. After I save it in cache, what I get is a bitmap. How can I set this bitmap to GifImageView?

Put the other way: what is the best way to animated an animated gif given the url?

[2014-06-19 15:40] #64 closed, assigned to nobody

[2014-06-20 23:58] #61 closed, assigned to koral--

[2014-07-01 08:41] ghost opened #66 "GifDrawable: OutOfMemoryError"
Hi guys,
how to prevent an OutOfMemoryError with the GifDrawable? For some animated gifs I get this:

[code]

Is there a way to deal with this? E.g., for static (non animated) images, I simply sample them down. But that of course does not work with animated images, right?

[2014-07-01 11:04] Deminem opened #67 "Help! GifDrawable memory issue - EGL_BAD_SURFACE"
I have 3 x 8 grid which initially display images as ".png". Once user tap on any particular item in the grid, the animated ".gif" replace the placeholder image ".png" and the previous selected item reset to it's original state ".png". The hardware acceleration is also enabled for this particular activity as well.

I am getting the **EGL_BAD_SURFACE** error after tapping on different items in conti

[2014-07-02 16:35] spencergriffin opened #68 "Crashes on L preview"
[code]

[2014-07-07 00:30] #67 closed, assigned to nobody

[2014-07-09 09:30] yankunren opened #69 "support gif from url ?"
support gif from url ?

[2014-07-14 01:07] #69 closed, assigned to nobody

[2014-07-20 13:38] ghost opened #70 "Native crash at /system/lib/libc.so"
I'm not sure whether this might be related to this issue (https://github.com/koral--/android-gif-drawable/issues/68) but currently many users of my app see this issue:

[code]

None of them is using Android L, most of them are using some Android 4.X version. I built my app yesterday and I was wondering whether this might be a new bug in the latest version of this library here (since I'm using grad

[2014-07-20 19:57] koral-- opened #71 "Support 64-bit platforms"
Native pointers should be `jlong`s, not `jint`s.

[2014-07-22 13:19] edward-s opened #72 "play gif only once"
Hi,

I can't seem to get an animated gif to play(loop) only once
tried 3 different gifs that only plays once in safari, but they loop infinitely when using this library

any idea?

[2014-07-22 14:00] JaredBanyard opened #73 "Don't Animate While Scrolling"
This will massively improve scrolling performance for any GIFs in listviews.

[2014-07-27 22:13] #68 closed, assigned to koral--

[2014-07-29 08:42] TomIsYourName opened #74 "can only show gif image when it is a resource"
Can only show gifs when it's a resource, i must use the resource id to show the gif, when i try to use bitmap or byte array, doesn't work at all

[2014-07-29 13:49] #74 closed, assigned to nobody

[2014-08-05 17:14] cashenmedoubuxing opened #75 "transplant egif_lib for android?"
hi koral,
Do you have a  plan that transplant egif_lib for android?

[2014-08-08 08:59] ivancayaban opened #76 "Can you add onComplete Listener?"
I need to know if the gif is completed (play once)

Any ideas?

[2014-08-11 09:36] mthread opened #77 "Is there a bug in gif.c ?"
In the method disposeFrameIfNeeded(argb\* bm, GifInfo\* info, unsigned int idx)  in the file of gif.c

The logic while  'curDisposal'  equals 3
            case 3:
            tmp = bm;
            bm = backup;
            backup = tmp;
            break;
        }

and i see the gif_lib document
     #define DISPOSAL_UNSPECIFIED      0       /\* No disposal specified. _/
    #define DISPOSE_DO_NO

[2014-08-11 10:47] harold26kim opened #78 "Having problem in GifDrawable..."
I'm loading GIF in my sample activity but I got this error.

08-11 10:43:00.432: E/AndroidRuntime(382): FATAL EXCEPTION: main
08-11 10:43:00.432: E/AndroidRuntime(382): java.lang.ExceptionInInitializerError
08-11 10:43:00.432: E/AndroidRuntime(382):  at com.example.loadgif.MainActivity$PlaceholderFragment.onCreateView(MainActivity.java:75)
08-11 10:43:00.432: E/AndroidRuntime(382):  at android.sup

[2014-08-12 19:46] #78 closed, assigned to nobody

[2014-08-16 00:36] #77 closed, assigned to nobody

[2014-08-18 19:19] #62 closed, assigned to nobody

[2014-08-18 19:22] #70 closed, assigned to koral--

[2014-08-24 15:36] egor-n opened #79 "UI freezes when doing `#setImageDrawable`"
I'm downloading a gif using [Ion](https://github.com/koush/ion) and after that I'm using the downloaded file to display a `GifDrawable` like so:

[code]

Unfortunately, it freezes the UI for a couple of seconds. I tried creating the `GifDrawable` in background, but it didn't help.

I should mention, that the time it freezes the UI for depends on the file size. Is there anything I can do?

[2014-08-24 21:21] #79 closed, assigned to nobody

[2014-08-25 00:48] #76 closed, assigned to nobody

[2014-08-25 00:50] #72 closed, assigned to nobody

[2014-09-01 01:47] #66 closed, assigned to nobody

[2014-09-01 05:47] reipielr opened #80 "Wrong GIF Issue"
Hello! First of all, Thank you. Your Lib is Wonderful.

I have some bad format(?) GIF File.
And it kills app when GIF played.

uploading gif file. please check this
↓↓↓
![issue](https://cloud.githubusercontent.com/assets/1982935/4104920/6fd99b40-319b-11e4-9283-ccc009d9f599.GIF)

[2014-09-10 21:07] gibsondan opened #81 "GIF not respecting frame length?"
Hello,

I'm seeing that the following GIF, which is supposed to render one frame every few seconds, is rendering much faster, at 10fps, when using GifDrawable.

http://images.apple.com/r/store/backsoon/1x-covers-animation-v3.gif

It seems to think that it has 18 frames (which is correct) but getDuration returns 1800 ms (which is not correct everywhere else that the GIF is displayed).

I'm creating

[2014-09-13 09:50] HomHomLin opened #82 "Help.Android Studio Gradle failed..."
compile 'pl.droidsonroids.gif:android-gif-drawable:1.0.9'

Error:Execution failed for task ':giftest:processDebugManifest'.

I don't know why and how todo?
pls help me.

[2014-09-14 01:11] #80 closed, assigned to koral--

[2014-09-14 02:14] #82 closed, assigned to nobody

[2014-09-14 22:17] #81 closed, assigned to nobody

[2014-09-29 02:50] sethgho opened #83 "Gif ImageSpan?"
Is it feasible to render a GifDrawable in an ImageSpan? I'm not seeing any way for the ImageSpan to invalidate itself.

[2014-09-30 01:04] #83 closed, assigned to nobody

[2014-10-09 19:27] eresid opened #84 "Add support gifv"
What you think about gifv format?
Info: http://imgur.com/blog/2014/10/09/introducing-gifv/
Example: http://i.imgur.com/zvATqgs.gifv

[2014-10-12 14:16] #71 closed, assigned to nobody

[2014-10-13 16:47] AndroidDeveloperLB opened #85 "How to build for Eclipse?"
I'm trying to build the library using Eclipse (as Android Studio still can't handle JNI building as far as I know, and I prefer Ecilpse anyway), but I keep getting the next errors :

19:24:02 ***\* Incremental Build of configuration Default for project GifLibrary ****
"D:\android\ndk\ndk-build.cmd" all
[arm64-v8a] Compile        : gif <= gif.c
[arm64-v8a] SharedLibrary  : libgif.so
./obj/local/arm

[2014-10-14 10:43] #85 closed, assigned to nobody

[2014-10-16 01:13] 0xMatthewGroves opened #86 "Doesn't appear to work on Android L"
Needs to be tested on Android L.  Getting crashes in libc.  Launch sample project to test.

[2014-10-16 02:01] #86 closed, assigned to nobody

[2014-10-21 19:34] raylee4204 opened #87 "Caching GifDrawable in LruCache"
I'm trying to reuse gif drawables created from URL using LruCache for listview performance.

The sample code i'm using is the following:

[code]

However, when listview shows several instances of the same gif image, only one of them animates. Is there any way to fix this?

[2014-10-21 22:15] koral-- opened #88 "Replace deprecated int array frame buffer with Bitmap"
https://developer.android.com/sdk/api_diff/21/changes.html

[2014-10-24 09:48] gibsondan opened #89 "Creating a paused GifDrawable"
Hello, I was just wondering if there's any supported way to create a GifDrawable that isn't running until I call start() on it (and draws the first frame until that happens).

I've tried calling stop() right after instantiating it, but that doesn't seem to render the first frame.

Thanks!

[2014-10-28 01:56] #89 closed, assigned to nobody

[2014-10-28 01:59] #88 closed, assigned to koral--

[2014-10-28 08:33] terryyhl opened #90 "i want to get one frame to Android use bitmap object"
can you help me

[2014-10-29 02:15] #87 closed, assigned to nobody

[2014-10-29 02:17] #90 closed, assigned to nobody

[2014-10-29 03:33] FrostRocket opened #91 "Feature request: Ability to add modifiers to bitmap canvas on GifDrawable"
It would be nice to have the ability to modify the final canvas used to display the image with different xml properties.  For example, display a gif imageview with rounded corners, custom shapes, shadows, etc.

I attempted to modify the onDraw method of GifDrawable.  Can share some sample code to read in XML attrs or apply a cornerpatheffect to a canvas.

[2014-10-29 08:44] terryyhl opened #92 "i want this function:public Bitmap getBitmap(int position)"
i want edit gif and regenerate gif,can you help me.

[2014-10-29 11:24] #92 closed, assigned to nobody

[2014-10-29 14:32] raylee4204 opened #93 "Error updating 1.0.12 through gradle"
Currently, the latest version that works with gradle is 1.0.11.

If I try to update to 1.0.12 or using 1.0.+, it'll show an error saying "Failed to find: pl.droidsonroids.gif:android-gif-drawable:1.0.12"

[2014-11-07 00:17] fanei opened #94 "how to display URL gif"
i do not konow how display the git with URl。please help

[2014-11-09 00:18] #94 closed, assigned to nobody

[2014-11-12 01:40] #57 closed, assigned to koral--

[2014-11-12 01:47] #30 closed, assigned to koral--

[2014-11-14 22:37] Wavesonics opened #95 "v1.0.12 fails to render on HTC One (M7)"
I haven't had time to really dig into this yet, and I'm leaving for a week in a couple of hours, but I thought I should get this tracked to see if anyone else was seeing this.

Release 1.0.12 seems to do everything correctly, I've stepped through and it's loading and decoding all seems correct, no errors in the logs either, but it simply does not draw anything.

This only repros for me so far on t

[2014-11-19 05:28] dqshll opened #97 "crash when display some gif on Android Lollipop"
It worked great on my app since these days some user complain about crash to display some of the gif. I found there is a native crash when create a GifImageView

[2014-11-19 10:21] zijunlin opened #98 "crash In android 5.0 L"
Hi~
    I use this .so file on  android 5.0 L  ,then the  app crash .
backtrace:
I/DEBUG   (13986):     #00 pc 000390d0  /system/lib/libc.so (tgkill+12)
I/DEBUG   (13986):     #01 pc 0001636d  /system/lib/libc.so (pthread_kill+64)
I/DEBUG   (13986):     #02 pc 00016e41  /system/lib/libc.so (raise+10)
I/DEBUG   (13986):     #03 pc 00013cdd  /system/lib/libc.so (__libc_android_abort+36)
I/DEBUG   (1

[2014-11-19 22:52] JaredBanyard opened #99 "java.lang.NoSuchMethodError in 1.0.12+"
java.lang.NoSuchMethodError: no method with name='<init>' signature='(JIII)V' in class Lpl/droidsonroids/gif/GifInfoHandle;
            at pl.droidsonroids.gif.GifInfoHandle.openFd(Native Method)
            at pl.droidsonroids.gif.GifInfoHandle.openAssetFileDescriptor(GifInfoHandle.java:86)
            at pl.droidsonroids.gif.GifDrawable.<init>(GifDrawable.java:171)
            at pl.droidsonroid

[2014-11-20 00:22] #99 closed, assigned to nobody

[2014-11-24 03:02] #97 closed, assigned to nobody

[2014-11-24 03:06] #98 closed, assigned to nobody

[2014-12-01 04:10] zijunlin opened #100 "GifError 101: Failed to open given input"
I running the android-gif-drawable-simple program。

In the file case

[code]

that  throw  GifError 101: Failed to open given input.

the 01.gif
https://raw.githubusercontent.com/IndexKey/CnblogsChat/master/01.gif

[2014-12-02 01:10] #100 closed, assigned to nobody

[2014-12-03 12:49] fire9953 opened #101 "dev-branch can not play gif"
I checked out the dev-branch and build it, but it cannot show gif on my device.
I debugged it and found the reason, in file gif.c, there are some codes like this:
"int Error;" and it should be "int Error = 0;"
I modified it ,and then it can play gif on my device well.

[2014-12-04 01:30] #101 closed, assigned to nobody

[2014-12-04 03:27] DOOM001 opened #102 "About file and filePath"
hi
   before androidL everything is ok.After L ,I use the new .so,GifDrawable can be constructed by  GifDrawable( getAssets(), "anim.gif" ) and GifDrawable( getResources(), R.drawable.anim ).But when I
use GifDrawable(file) or GifDrawable(filepath) ,it can't work.here  is the sample error

![qq 20141204105155](https://cloud.githubusercontent.com/assets/10023759/5292913/d84c5a08-7ba3-11e4-858d-17de

[2014-12-04 12:22] #102 closed, assigned to nobody

[2014-12-17 02:49] henritta opened #103 "Image broken problem"
Hi,
    When this gif was played for more than 5 minutes the image would be broken.
GIF file: https://www.asuswebstorage.com/navigate/s/290611BB406243CB970DB0BD5C009EC4Y
Waiting for your reply,thanks.  :+1:

[2014-12-18 13:35] fire9953 opened #104 "Maybe an issue to performance and memory"
In my activity, i use GifImageView to show gif pictures, GifImageView will auto play gif images because the GifImageView will create GifDrawable and start to run RenderTask in a ScheduledThreadPoolExecutor. But when and how to stop and destroy it?

GifImageView does nothing to stop the thread of render. I tagged some log in run method of RenderTask, it showed me that if i finish my activity, the R

[2014-12-19 03:06] #104 closed, assigned to koral--

[2014-12-21 23:04] #103 closed, assigned to koral--

[2014-12-26 10:53] henritta opened #105 "Native Heap memory leaking"
Dear koral,

I use instruction to dump memory info several times.

ex: dumpsys meminfo -p pl.droidsonroids.gif.sample

I found the Native Heap always group up, even thought I did nothing, just play the same Gif pictures,

not leaving the activity, or go any other ap/activity.

You can try and see Pss Total Native Heap column.

I try tracing the c code as below,

    container->buffer = (*env)->New

[2014-12-28 17:10] cole-dda opened #106 "load_library(linker.cpp:759): library "libmaliinstr.so" not found"
when i run in android 4.2.2 ，i can't show gif , logcat show a error:
load_library(linker.cpp:759): library "libmaliinstr.so" not found

[2014-12-28 22:07] #106 closed, assigned to nobody

[2014-12-29 07:44] com360 opened #107 "java.lang.UnsatisfiedLinkError: Native method not found"
Hi,koral:
 this error is ocured on version 1.0.12, I think it load .so file fail,have any solutions ?Thanks!
java.lang.UnsatisfiedLinkError: Native method not found: pl.droidsonroids.gif.GifDrawable.renderFrame:([IJ[I)Zjava.lang.UnsatisfiedLinkError: Native method not found: pl.droidsonroids.gif.GifDrawable.renderFrame:([IJ[I)Z
        at pl.droidsonroids.gif.GifDrawable.renderFrame(Native Method)

[2014-12-29 13:51] DmitriyZaitsev opened #108 "100% ANR"
Hi koral,
I use *GifDrawable* with *GifImageView* in *ListView*. I found ANR happens with 100% probability after ~1 minute of continuous fast scrolling even with manual recycling.
Here is part of my code inside adapter's getView():
[code]
What can cause the ANR? Or maybe I do smth wrong?

[2015-01-01 04:56] woojoo666 commented on #107
same issue. I'm using Eclipse which doesn't have native Gradle support, so I'm importing the library manually:

 1. Download the source files and import it into eclipse
 2. Move everything inside /java into /src
 3. According to @koral-- 's comment [here](https://github.com/koral--/android-gif-drawable/issues/78#issuecomment-51966908) , download [v1.0.6](https://github.com/koral--/android-gif-draw

[2015-01-02 15:13] Kennyc1012 opened #109 "Render Issues"
Rendering certain gifs cause weird issues in the coloring. An example can be shown below.

This is how it is rendering in the app
![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/2333025/5596923/50edfe6a-9267-11e4-96dc-d60da4fbc3b7.gif)

This is how it should look
![glggo9j](https://cloud.githubusercontent.com/assets/2333025/5596924/50efa08a-9267-11e4-8935-73b85dbaf6c7.gif)

Th

[2015-01-05 09:23] henritta commented on #105
Hi koral,

I seen you resolve this problem, thanks a lot.

I try your patch.  I think there have some new problems.

1. Animation play for a while the image color will change to black-white

2. Play a few time and press back key, I found some error logs

A/libc(4765): chunk ptr "p" is invalid with any segment
A/libc(4765): invalid address or address of corrupt block 0x8 passed to dlfree

I think t

[2015-01-06 02:50] koral-- commented on #109
That problem does not occur on v 1.1.1 (release) but on 1.1.2-SNAPSHOT. It already described in  https://github.com/koral--/android-gif-drawable/issues/105#issuecomment-68684291

[2015-01-06 02:50] #109 closed

[2015-01-07 06:52] henritta commented on #105
Hi Koral,

I made some modification in DGifGetImageDesc function as following:

    if (changeImageCount)
    {
		if (GifFile->SavedImages) {
			if ((GifFile->SavedImages = (SavedImage *)realloc(GifFile->SavedImages,
										  sizeof(SavedImage) *
										  (GifFile->ImageCount + 1))) == NULL) {
				GifFile->Error = D_GIF_ERR_NOT_ENOUGH_MEM;
				return GIF_ERROR;
			}
		} else {
			if ((GifFil

[2015-01-08 03:03] koral-- commented on #105
Generally speaking you are right.
Precisely: cause of the leak is that `GifMakeMapObject` was called unconditionally while it is needed only when `changeImageCount` is true. Other code are unnecessary but it did not increase amount of allocated memory. `ImageCount` is constant when `changeImageCount` is false so after calling `realloc`  allocated heap size does not change. Of course is it is good

[2015-01-08 12:45] DmitriyZaitsev commented on #108
I use the latest version, definitely.

[2015-01-09 02:57] #105 closed

[2015-01-09 03:09] koral-- commented on #107
`.so` files should be taken from the corresponding version of `aar` file, not from `apklib` of 1.0.6. It is mentioned only to see a structure, not to take a content from it.
In other words to include native library files in Eclipse:
1. take `aar` file (the same version as java sources/jar is used)
2. place contents of `jni` folder from `aar` into `libs` folder of project

[2015-01-09 03:09] #107 closed

[2015-01-09 03:14] koral-- commented on #108
OK, I'll try to reproduce that.

[2015-01-12 02:45] studyfordream opened #110 "compile c source files to a single .so file under Mac (version 10.10.1)"
hello, i am not familiar with c language,  please write some code step by step for compiling the JNI source files to .so file. please help....  Thanks a lot.

[2015-01-12 03:12] koral-- commented on #73
Animation suspending is planned to be done.

[2015-01-12 03:19] koral-- commented on #108
I could not reproduce ANR while continuous scrolling but have 2 ideas what may help:
1. using one executor for all drawables inside list instead of separate executor for each instance (which is default behavior), setting custom executor is possible through `GifDrawableBuilder#taskExecutor()`. Doing so will avoid creation hundreds of threads which is some overhead even if most of them are not worki

[2015-01-12 03:23] Wavesonics commented on #73
If this is done it should certainly be optional. I haven't found that to be
a performance bottle neck and it's a nice touch IMO.
On Jan 11, 2015 7:12 PM, "Karol Wrótniak" <notifications@github.com> wrote:

[2015-01-12 08:11] lzou opened #111 "Add GifImageView in listview cause out of memory"
source code:
gifImage.setImageResource(id);

id is a gif picture in drawable folder.
I slide up and down the listview.then if will outofmemery.
Java.lang.OutOfMemoryError

how can i avoid it? thanks

[2015-01-12 15:11] DmitriyZaitsev commented on #108
Before, to fix this I simply used ```GifDrawable#mExecutor``` as ```static```.
Today I checked the ```1.1.2-SNAPSHOT``` and saw that you did almost the same but in different more flexible way.
Seems to be fixed.
Thanks.

[2015-01-12 15:25] DmitriyZaitsev commented on #108
One more question. Is code below correct (I mean using of ```GifDrawableBuilder#with()``` and ```GifDrawableBuilder#from()```)?

[code]

[2015-01-13 21:07] koral-- commented on #110
1. download and unpack NDK from http://dl.google.com/android/ndk/android-ndk-r10d-darwin-x86_64.bin
2. add `ndk.dir=<NDK_PATH>` to `local.properties` file in library root directory (create if not exist) alternatively NDK directory may be added to your PATH (eg. in ~/.bash_profile). <NDK_PATH> is a root directory of unpacked NDK (`ndk-build` should be there), library root directory is that one with

[2015-01-13 21:07] #110 closed

[2015-01-13 21:40] koral-- commented on #73
Of course this feature will be optional, available through builder.

[2015-01-14 03:19] koral-- commented on #108
Your usage should be correct, but it is not (yet) working. Artifacts happen because at the time of creation new instance with reusing, rendering of the frame of old instance may be in progress and the last "old" modification may occur after new one is created.
I'll fix this ASAP.

[2015-01-14 15:47] #108 closed

[2015-01-15 03:03] koral-- commented on #111
You can can use `GifDrawable#recycle()` on unneeded drawables. Eg. in adapter:
[code]

[2015-01-15 03:03] #111 closed

[2015-01-15 06:55] lzou commented on #111
@koral--  when setBackground for gifImageView ? i don't see where init drawable.

[2015-01-16 02:31] koral-- opened #112 "Add ability to reuse frame buffers on API levels <19"

[2015-01-16 02:34] koral-- commented on #111
To retrieve old background just call `GifImageView#getBackground()`.

[2015-01-17 09:37] lzou commented on #111
@koral--  That's not what I meant. in your code:
GifImageView gifImageView = (GifImageView) convertView.findViewById(R.id.giv);
            Drawable d = gifImageView.getDrawable();
            if (d instanceof GifDrawable) {
                ((GifDrawable) d).recycle();
there is no place to initialization a GIfDrawable.so the gifImageView doesn't display gif。
when initialization a GIfDrawable? My E

[2015-01-17 14:49] koral-- commented on #111
Just set background below given code, eg:
[code]

[2015-01-17 15:01] lzou commented on #111
@koral--   i do it like this. but if i rapid sliding back and forth the listview.it's still crash,it's outofmemoryerrors.how can i avoid outofmemory?
i think if the listView is scrolling, then let the gifImage doesn't play,maybe it will not outofmemory.how can i do it? can you show me some code?

[2015-01-18 13:51] koral-- commented on #111
Which library version are you using? Does the problem occur on the latest one (1.1.2)?

[2015-01-18 15:10] lzou commented on #111
@koral-- yes  release v 1.1.2

[2015-01-18 21:33] koral-- commented on #108
Artifacts should not appear now. Fixed in v 1.1.2.

[2015-01-18 21:33] koral-- opened #113 "Add asynchronous drawable loadin"

[2015-01-19 02:26] koral-- commented on #111
You can use `GifDrawableBuilder#with()` as described in #108. If that won't help then I have no idea other than reducing dimensions of source GIF files (eg. using imagemagick or so) before compiling the app.
PS. there is already a task for animation pause while scrolling (#73) but it is not directly connected with memory usage. Generally always only one frame is buffered no matter if animation is

[2015-01-21 12:33] henritta opened #114 "Gif animation speed slow"
Hi Koral,

I found the speed is much slower than PC, while playing the gif files,

Even compare with Samsung's Gallery, it still looks slower.

Is it limitation? Below link is my testing picture, if you need.

https://www.asuswebstorage.com/navigate/s/408CE1540B0D4D27BA37ED1E3AE58112Y

[2015-01-30 12:30] oalpayli opened #116 "Gif Drawable Resize to Full Screen"
Hi Koral,

I use your library for my splash screen. But I have a problem to resize GIF according to device screen. All widgets use  match parent property in my code but gif doesn't fit to screen? Please tell me why that can be? And I will be glad to that you can send answer to my email. (oguzhanalpayli@gmail.com)

Thank you.

[2015-01-31 01:43] koral-- commented on #116
If you are using (Gif)ImageView or (Gif)ImageButton you should set appropriate scale type. Eg. `android:scaleType="fitXY"` in xml of the layout.

[2015-01-31 01:43] #116 closed

[2015-01-31 09:34] oalpayli commented on #116
I tried my friend. But it didnt work for me. At last i solved my problem. I
changed theme of splash screen activity to fullscreen and it worked.

Thank for your reply. Library works very efficient and powerful.

Have a good day friend.
31 Oca 2015 03:43 tarihinde "Karol Wrótniak" <notifications@github.com>
yazdı:

[2015-02-01 12:48] sirvon commented on #114
what if you speed it up, using the settings...same difference?

[2015-02-03 11:44] nkuznetsow opened #118 "seekToFrame not cause redraw when animation is stopped or paused"
I need ability to manually set frame which must be drawn when animation is stopped or paused, but when I call seekToFrame(int) it not cause redraw drawable.

[2015-02-06 03:06] koral-- commented on #118
Are trying to seek backward or forward? Currently only seeking forward is supported and tries to seek backward is ignored no matter if animation is started or not. It is mentioned in javadoc of `#seekTo()` (link to it in `#seekToFrame() was broken but I've corrected it just now).

In general for seeking backward animation has to be rewound and then sought forward and this is not implemented yet. I

[2015-02-06 05:48] com360 commented on #107
I don't use  gradle to compile ，but used maven to build my project. .so files be taken from the version 1.0.12 of arr file.This crash only occur  on some phone by accident.

[2015-02-06 05:53] atulsethi opened #119 "How can convert project structure gradle to maven"
Hi ,
   I am using android-gif-drawable library in my project and it is working fine before Lollipop android version but in Lollipop  , application throw error . I am using complete source code for this library in my  code and compile with NDK-Build .  i know this library have updated in Gradle but My project have maven structure and i have no idea about gradle .

 Please explain how can i use upd

[2015-02-07 21:06] koral-- commented on #107
`UnsatisfiedLinkError: Native method not found pl.droidsonroids.gif.GifDrawable.renderFrame:([IJ[I)Z` means that native library is loaded (if it wouldn't then `UnsatisfiedLinkError: Couldn't load gif...` will be thrown) but does not contain mentioned method. So either .so file is broken or came from different library version. If problem occurs randomly on specific devices (but on another ones it d

[2015-02-07 21:20] koral-- commented on #119
You can translate `build.gradle` to `pom.xml`, `jni/Android.mk` and `Application.mk` files. You can see how it looked like when maven was used in library in older tags: https://github.com/koral--/android-gif-drawable/tree/v1.0.6. Additionally you need to deploy android framework artifact using [maven-android-sdk-deployer](https://github.com/simpligility/maven-android-sdk-deployer) to your local ma

[2015-02-07 21:20] #119 closed

[2015-02-09 02:10] #118 closed

[2015-02-11 04:30] huangyikai1990 opened #120 "Build libgif.so error in eclipse"
I use the latest code to compile.But make a mistake...

[arm64-v8a] Compile        : gif <= gif.c
[arm64-v8a] Compile        : gif <= dgif_lib.c
[arm64-v8a] Compile        : gif <= gifalloc.c
[arm64-v8a] SharedLibrary  : libgif.so
D:/android-ndk-r10/samples/hello-jni//obj/local/arm64-v8a/objs/gif/gif.o: In function `Java_pl_droidsonroids_gif_GifInfoHandle_seekToTime':
D:/android-ndk-r10/samples/he

[2015-02-11 05:59] henritta commented on #114
Using Settings speed up? What do you mean?

Could you tell me how to do that?

[2015-02-11 20:18] koral-- commented on #120
You need to add:
`LOCAL_LDLIBS := -ljnigraphics `

[2015-02-11 20:18] #120 closed

[2015-02-12 04:00] huangyikai1990 commented on #120
Thank you!  Got it ! :+1: )

[2015-02-16 00:13] koral-- commented on #114
@henritta maybe @sirvon talked about `GifDrawable#setSpeed()`. It can speed up animation but its not a solution of course, only a workaround.
Current animation flow is as follows:
1. raw data from input source is converted into pixels of the given frame and its metadata (including frame duration) - real duration of this step strongly depends on size of the frame and performance of the device
2. re

[2015-02-18 01:38] ammarhameed opened #121 "Run GifDrawable from on bindView"
Hi Koral,

This is not a bug, I have a question about getting a GIF from SD, I'll be using the below as shown in you usage samples, my question is should can I just use it in the bindView/CursorAdapter without a thread like below?

                               GifDrawable gifFromPath = new GifDrawable( gifFileOnDisk );
                               image.setImageDrawable(gifFromPath);

[2015-02-20 20:36] koral-- commented on #121
It depends what do you mean by 'safe'. Constructor of `GifDrawable` performs disk read operation so you will get `StrictModeDiskReadViolation` if you are using `StrictMode` with disk read detection. However only metadata is decoded there, image data is skipped at this step. Probably it is not worth doing a separate thread in most cases.

[2015-02-20 20:36] #121 closed

[2015-02-22 02:36] #114 closed

[2015-02-24 17:16] niftynei opened #122 "Gif freezes up after a few hours"
We're using the GifImageView to display a gif for a long period of time.  After a few hours, it freezes on a frame.  I'm having trouble reproducing it, and looking through the code not sure where to look to debug it.  Any pointers on where to look or what the issue could be? Happy to provide code and/or thread dumps if that's helpful.

[2015-02-25 02:32] koral-- commented on #122
I assume that you are using the latest library version (1.1.2) and it is not simple I/O failure during animation rewind. Is something printed to logcat when such freezing appears?

I was able to reproduce animation freezing using large GIF on Nexus 7 with Android 5.0.2 (the same app works without freezing on another devices). In such case `OpenGLRenderer Cannot generate texture from bitmap` has be

[2015-02-25 21:21] niftynei commented on #122
Thank you for investigating. Yes, we're using version 1.1.2, running on an embedded device that's running Android 4.4.

I just confirmed that `E/OpenGLRenderer﹕ Cannot generate texture from bitmap`  is the error we're getting.  Setting the hardware layer to `View.LAYER_TYPE_SOFTWARE` fixes the issue, but seriously degrades the quality of the GIF rendering (there's noticeable tearing and bands of u

[2015-02-26 21:47] koral-- opened #123 "Fix compound drawable resolution order"
If layout direction is LTR and left drawable is defined but start not, preserve left one. Analogous for other combinations.

[2015-02-27 21:27] niftynei commented on #122
I did some digging around on the internet, and managed to find this (forum post)[http://www.developpez.net/forums/d1338782/java/general-java/java-mobiles/android/openglrenderer-cannot-generate-texture-from-bitmap/]. (Warning, it's in French).

[2015-03-02 01:43] koral-- commented on #122
I've found simpler solution. Please try latest snapshot.

[2015-03-05 21:45] niftynei commented on #122
Ok, just saw this. I'll give it a try tomorrow.

[2015-03-06 02:52] guqun opened #124 "how to solve the problem of OOM,caused by supersized Gif ."
Thank you very much to maintain the valuable  code,I wonder how to solve the problem of OOM,caused by supersized Gif .example,4096 * 4096

[2015-03-06 12:41] DmitriyZaitsev opened #125 "LoopCount issue"
Have a few different gifs in project. Some of them are endless and some of them have loop count = 1.
The problem is they all in app play infinite.

```drawable.getLoopCount()``` returns 0 for all of them.

[Download examples](http://dropmefiles.com/3rhEp)

[2015-03-07 23:49] koral-- commented on #93
Closing due to lack of info.

[2015-03-07 23:49] #93 closed

[2015-03-08 16:42] koral-- commented on #125
Right, in file `simp_loopcount_1.gif` animation extension is not present so loop count should default to 1 not to infinite.
I'll fix it ASAP.

[2015-03-09 02:25] koral-- commented on #124
There are several solutions:
* enable [largeHeap](http://developer.android.com/guide/topics/manifest/application-element.html#largeHeap) in manifest (available on API 11+)
* divide your app into several processes (using `android:process` in manifest) however it can cause some side effects
* if you have another GifDrawables, Bitmaps or another objects not needed at the same time with that huge GIF,

[2015-03-09 02:25] #124 closed

[2015-03-09 09:38] guqun commented on #124
thanks for your detailed reply,I consider SampleSize is a better method to avoid OOM,As well as SampleSize works great when decoding in my app.Is there have a good way to implement samplesize?

[2015-03-09 14:45] koral-- commented on #91
Closing due to inactivity. Can be reopened after submitting some code.

[2015-03-09 14:45] #91 closed

[2015-03-09 17:44] koral-- commented on #124
Subsampling is basically skipping each `n`-th column and row of the image (where `n` is integral number >=2). Eg. if `n=2` just 1st, 3rd, 5th etc. row and column is read respectively. It looks simple in single bitmap however can be a little bit tricky with GIFs. Here are some caveats:
* each frame can have size different than each other and the canvas (example: http://www.imagemagick.org/Usage/ani

[2015-03-09 20:05] #125 closed

[2015-03-09 20:20] #123 closed

[2015-03-12 13:43] andreyice opened #126 "v1.1.2 fails on HTC One (M8)"
java.lang.RuntimeException: Canvas: trying to use a recycled bitmap android.graphics.Bitmap@427b7ed
at android.graphics.Canvas.throwIfCannotDraw(Canvas.java:1225)
at android.view.GLES20Canvas.drawBitmap(GLES20Canvas.java:600)
at pl.droidsonroids.gif.GifDrawable.void draw(android.graphics.Canvas)(GifDrawable.java:682)
at android.widget.ImageView.onDraw(ImageView.java:1227)

Possible solution:
chang

[2015-03-12 16:47] DmitriyZaitsev opened #127 "Doesn't work with Lollipop (permanent crash)"
I have X-platform code in my app. When I integrated your lib I got such error at startup:

    [zip file "/data/app/my.package.name-1/base.apk"],nativeLibraryDirectories=[
        /data/app/my.package.name-1/lib/arm,
        /vendor/lib, /system/lib]
    ​]​
] couldn't find "MyLib.so"
E/AndroidRuntime( 1771): at java.lang.Runtime.loadLibrary(Runtime.java:366)
E/AndroidRuntime( 1771): at java.lang.

[2015-03-12 21:06] koral-- commented on #126
Only way to get `Bitmap` recycled is to call `GifDrawable#recycle()` and then try to draw it. There is no other code in library which recycles the Bitmap.
Did you entered that state in some other way? Or did you call `recycle()` and you expect that attempt to draw recycled drawable should be ignored?

Behavior here is now the same as in [BitmapDrawable](http://developer.android.com/reference/andro

[2015-03-12 21:30] koral-- commented on #127
There is no `MyLib` in `GifDrawable` code. It seems that you somewhere in your code you are trying to load that `.so` file which does not exist.

[2015-03-12 21:30] #127 closed

[2015-03-12 21:37] koral-- commented on #122
@niftynei for some reason (bug in framework?) native function `AndroidBitmap_lockPixels` randomly returns `ANDROID_BITMAP_RESULT_ALLOCATION_FAILED`. I introduced a workaround which retries locking at native level several times. If that workaround doesn't work the same frame will be rescheduled to render in the next render pass.

[2015-03-12 21:37] #122 closed

[2015-03-13 02:49] koral-- commented on #124
@guqun you can try (https://github.com/koral--/android-gif-drawable/blob/dev/src/main/java/pl/droidsonroids/gif/GifTextureView.java)[GifTextureView]. Bitmap is not needed there. Available on API 14+.

[2015-03-13 09:55] DmitriyZaitsev commented on #127
1) It happens only if I use this android-gif-drawable lib;
2) It happens only on devices with Lollipop installed. Other devices launch the app without problems.

[2015-03-13 12:14] koral-- commented on #127
Please post complete stacktrace.

[2015-03-13 14:09] MLinsanity opened #128 "v1.1.2 fails on bad file descriptor"
i dont know what's happened,can you help me plz.
v1.1.2 fails on bad file descriptor

[2015-03-13 14:15] koral-- commented on #128
Got a stacktrace?

[2015-03-13 14:16] guqun commented on #124
thank you very much! Although there are differences with ImageView, the GifTextureView is a effective way to avoid OOM. I will consider how to behave in the form of GifTextureView  and ImageView is consistent.

[2015-03-16 02:32] MLinsanity commented on #128
error opening trace file: No such file or directory (2)
 java.lang.IllegalArgumentException: bad file descriptor
 at android.os.ParcelFileDescriptor.getStatSize(Native Method)
at android.content.res.AssetFileDescriptor.getLength(AssetFileDescriptor.java:106)
at pl.droidsonroids.gif.GifDrawable.<init>(GifDrawable.java:188)
at pl.droidsonroids.gif.GifDrawable.<init>(GifDrawable.java:237)
at pl.droid

[2015-03-16 02:37] MLinsanity commented on #128
[code]

[2015-03-16 02:38] MLinsanity commented on #128
[code]

[2015-03-16 02:40] MLinsanity commented on #128
[code]

[2015-03-16 03:29] MLinsanity commented on #128
····
GifDrawable gifFromFile = new GifDrawable(gifFile);
                    gifImageView.setImageDrawable(gifFromFile);
                    imageViews.add(gifImageView);
this way is ok..
····

[2015-03-16 03:29] MLinsanity commented on #128
···
GifDrawable gifFromFile = new GifDrawable(gifFile);
gifImageView.setImageDrawable(gifFromFile);
imageViews.add(gifImageView);
this way is ok..
····

[2015-03-16 03:30] MLinsanity commented on #128
[code]

[2015-03-16 03:32] MLinsanity commented on #128
[code]

[2015-03-16 13:16] DmitriyZaitsev commented on #127
Karol, I found that issue is gone when i change
[code]
with
[code]

[2015-03-16 13:34] DmitriyZaitsev opened #129 "Checking that the gif is stopped"
Hi Karol.
Not a bug, but suggestion. As you remember #125, there was the file with loop count = 1. It would be very nice if we can ask ```GifDrawable``` either is it playing right now or not.
```GifDrawable``` has methods ```isRunning()``` and ```isPlaying()```, but they always return ```true``` if drawable isn't recycled. They, in fact, identical. Also identical ```pause()``` and ```stop()```.
So

[2015-03-17 03:00] koral-- commented on #128
Now `GifImageView#setImageURI()` should always work even if source file length could not be determined. In all that cases just -1 will be returned by `#getInputSourceByteCount()` it is the only purpose of source length reading.
Moreover more source kinds now support that feature.

[2015-03-17 03:00] #128 closed

[2015-03-17 18:34] koral-- commented on #129
`stop()` and `isRunning()` are overriden from `Animatable` while `pause()` and `isPlaying()` from `MediaPlayerControl` although their jobs are respectively the same.
Currently it is not possible to check directly if animation is finished. Indirect way is to register animation listener.
I rethought all related flow and realized that more changes are needed in that matter:
* return false from `isRun

[2015-03-17 20:00] #129 closed

[2015-03-18 15:05] DmitriyZaitsev opened #130 "gifDrawable.reset() issue for finite gifs"
Hi Karol. I have new issue for you today.

in snippet below I use gif drawable with loop count == 1;
[code]

Method ```reset()``` doesn't work if drawable finished playing. Animation doesn't restart.

[2015-03-19 17:48] koral-- commented on #130
Right, running flag is cleared when animation passes all loops but it is not set in `reset()` but it should. I'll fix it ASAP.

[2015-03-19 18:10] #112 closed

[2015-03-19 18:10] #130 closed

[2015-03-21 01:48] apkelly opened #131 "v1.1.2 NullPointerException - reported by Crashlytics"
Device: Samsung GT-I9505
Android: 4.4.2

java.lang.NullPointerException
       at android.view.View.unscheduleDrawable(View.java:15842)
       at android.graphics.drawable.Drawable.unscheduleSelf(Drawable.java:409)
       at pl.droidsonroids.gif.GifDrawable$2.doWork(GifDrawable.java:102)
       at pl.droidsonroids.gif.GifDrawable$SafeRunnable.run(GifDrawable.java:50)
       at java.util.concurrent

[2015-03-23 12:45] DmitriyZaitsev opened #132 "Transparent GIF blinking"
Hi Karol!
I have transparent GIF. It blinks white every time when first frame plays.

[code]
[Download GIF file](http://dropmefiles.com/4GFWh)

First frame isn't transparent but white. Please review my pull request.

[2015-03-23 18:24] #131 closed

[2015-03-23 19:14] koral-- commented on #131
Thanks.

[2015-03-23 20:55] koral-- commented on #132
Thanks, there was a bug but more than than your changes was needed to fix it.
Erasing buffer to transparency should be done conditionally. GIFs can contain background color which should be used to fill space not covered by image (http://giflib.sourceforge.net/gif89.txt). However I see that most software ignores that color. I've tried several image viewers and web browsers on PC and Mac but only Im

[2015-03-23 20:55] #132 closed

[2015-03-26 04:43] vkedwardli commented on #132
I have got random blinking with a large gif, but issue seems to be fixed when I switched using GifTextureView but not GifImageView

[2015-03-26 12:58] veelck opened #134 "Delayed GC when using GifDrawable"
Hi,

I noticed a problem, that when you use GifDrawable as a source of ImageView (and as far as I can see it in the code, it's regardless of the use), you don't reset the scheduler in it on e.g. recycle, so it keeps the reference to the drawable through some execution task in executor.

Eventually those gets removed, but sometimes it takes 4-5 GCs to get rid of.

If you need some more info on the

[2015-03-26 14:52] koral-- commented on #134
OK, pull requests are welcome.
In order to work only on java code without NDK, you can remove `src/main/jni` folder, create `src/main/jniLibs` folder and put compiled native library files taken from `aar` (eg. downloaded from maven).
Structure can look like that:
[code]
more info: http://www.shaneenishry.com/blog/2014/08/17/ndk-with-android-studio/

[2015-03-26 19:27] koral-- commented on #132
In case of attached GIF both views was affected and both are fixed now.

[2015-03-28 08:47] DmitriyZaitsev opened #135 "(Android 3.0) Animated GIFs don't animate."
Reproducible on Android 3.0 Galaxy Tab 7.0 Plus.

[2015-03-28 10:09] DmitriyZaitsev opened #136 "The size of the drawables is changed to smaller when scrolling the ListView"
Below is the code I use in my adapter's ```getView()```:
[code]
My cells are ```GifImageView```'s with **fixed** dimensions, so layout bounds are always the same. When I scroll up and down sometimes size of drawables inside views changes it's size and they are drawn smaller than before (wider or narrower).
The issue is not observed when I remove following code:
[code]
I suppose it's related to reu

[2015-03-29 00:34] koral-- commented on #135
I could not reproduce that on API 11 emulator. I've tried `GifImageView` and `TextView` with `GifDrawable` as a background and both animations are working.

[2015-03-29 12:23] DmitriyZaitsev commented on #135
I'll have that device on Monday and give you more info.

[2015-03-30 03:06] xh2009cn opened #137 "release-v1.1.3 ndk-build compile error"
There is the error info:
jni/surface.c:126:40: error: 'errno' undeclared (first use in this function)
jni/surface.c:126:49: error: 'EBADF' undeclared (first use in this function)

[2015-03-30 10:26] yanglichuan commented on #137
me too

[2015-03-30 10:28] yanglichuan opened #138 "hi"
Thanks
I am using your android-gif-drawable
but have no android.mk  and application.mk

and when compiling  have some errors

[2015-03-30 11:17] koral-- commented on #138
That files are generated automatically by gradle. If you don't want to use gradle you can create them yourself, see #119 and #85 for more details. All `.c` files need to be present in `LOCAL_SRC_FILES`, look at current `build.gradle` to see what should `LOCAL_LDLIBS` look like.

[2015-03-30 11:17] #138 closed

[2015-03-30 11:48] koral-- commented on #137
Thanks, should work now.

[2015-03-30 11:48] #137 closed

[2015-03-30 12:54] yanglichuan opened #139 "hi very thanks 。 if your android-gif-drawable can use in listview with universal-image-loader ？"
if   your android-gif-drawable   can  use in listview  with  universal-image-loader  ？

thank your  android-gif-drawable！
very good！

[2015-03-30 13:54] DmitriyZaitsev opened #140 "Crash. Reproduced once on Samsung Galaxy S4 SGH-i337"
See stacktrace below:
[code]

[2015-03-30 15:00] MohamadAtieh commented on #136
Did you try you pausing all GIF's on scroll and resuming them on finish? just a thought

[2015-03-30 16:06] DmitriyZaitsev commented on #136
No, I didn't. How do you think these things are related?

[2015-03-30 19:55] koral-- commented on #139
Universal Image Loader supports bitmaps (single-frame images) only so it cannot be used with custom drawables like that.
However there is a planned feature to add asynchronous loading (#113).

[2015-03-30 19:55] #139 closed

[2015-03-30 20:36] koral-- commented on #136
Scroll is unrelated here. Reason is that custom source `Rect` in `Canvas#drawBitmap()` needs to be specified if not all contents of the `Bitmap` (buffer) is going to be drawn. I'll fix this ASAP.

[2015-03-30 20:46] koral-- commented on #136
Should work now. Thanks for the report.

[2015-03-30 20:46] #136 closed

[2015-03-31 08:40] rakex opened #141 "native crash when feeding a malformed gif file"
check the following file.
![aaa](https://cloud.githubusercontent.com/assets/292025/6915182/8e8b2f20-d7c4-11e4-99e3-db152b55adb7.gif)

[2015-03-31 12:12] koral-- commented on #141
I could not reproduce crash with the current library version. Decoding error occurs and animation is restarted. It looks like this is fixed in #80.

[2015-03-31 12:12] #141 closed

[2015-03-31 20:22] koral-- commented on #140
That state:
* message from OpenGLRenderer `Cannot generate texture from bitmap` printed to the log
* `ANDROID_BITMAP_RESULT_ALLOCATION_FAILED` returned by `AndroidBitmap_lockPixels`
occurs randomly when using bitmap with hardware accelerated `Canvas`.
I found no real solution (except disabling hardware acceleration or changing bitmap to something else), previous workaround was to retry at most 20

[2015-03-31 20:22] #140 closed

[2015-04-02 10:20] yanglichuan commented on #139
I hope for it

[2015-04-02 11:23] koral-- commented on #139
Optionally if you want only display animations and target only on API level 14+ with hardware acceleration you can use `GifTextureView` it has already asynchronous loading.

[2015-04-02 19:10] danrudolf1 opened #142 "Scaling of GifImageView"
Im trying to recreate an image views "centerCrop" property with this GifImageView but I'm not having any luck. Is that supported?

[2015-04-02 19:27] koral-- commented on #142
Yes, it should work. Please describe your case.

[2015-04-03 00:34] macgrr opened #143 "First frame white when using GifDrawable.draw to draw directly on surface."
I'm currently using GifDrawable.draw to draw directly to a Surface.
I have a runnable that draws to a surface at a rate of gif duration / total frames.
The important parts of my code below:
private void draw() {
    SurfaceHolder surfaceHolder = getSurfaceHolder();
    Canvas canvas = surfaceHolder.lockCanvas();
    mGifDrawable.draw(canvas);
    surfaceHolder.unlockCanvasAndPost(canvas);
}

I'm s

[2015-04-03 15:04] koral-- commented on #143
It looks like `Canvas` taken from `Surface` can display artifacts if `Bitmap` (`GifDrawable` uses `Bitmap` as frame buffer) which is drawn on it is modified from another thread in the meantime.
You can perform rendering and drawing on the canvas on the same thread by using something like this:
[code]
and schedule your `Runnable` on the same `mExecutorService`.

[2015-04-03 15:04] #143 closed

[2015-04-03 17:04] macgrr opened #144 "GifDrawableBuilder fails to open animation when passed assetmanager and string"
Issue found when using function:
public GifDrawableBuilder from(AssetManager assetManager, String assetName)

Using the following fails to open source file:
mGifDrawable = new GifDrawableBuilder().from(assetManager, sourcePath).taskExecutor(mExecutorService).build();

Found fix in InputSource.java, mimicing how GifDrawable opens the same assetmanager/string pair:
diff --git a/src/pl/droidsonroids/

[2015-04-03 17:21] macgrr commented on #143
Thanks, this worked. But I did find a bug with GifDrawableBuilder.

[2015-04-03 18:34] koral-- commented on #144
Right, thanks.

[2015-04-03 18:34] #144 closed

[2015-04-07 02:46] xp8812 opened #145 "java.lang.ExceptionInInitializerError"
java.lang.ExceptionInInitializerError
	at pl.droidsonroids.gif.GifDrawable.<init>(GifDrawable.java:108)

hi koral,please look into this.

[2015-04-07 11:01] koral-- commented on #145
Please post complete stacktrace.

[2015-04-07 12:13] mariotaku opened #146 "GifTextureView_src attribute conflicts with other libraries"
Some libraries (e.g. https://github.com/davemorrissey/subsampling-scale-image-view) has src attribute therefore aapt fails when building.

'src' attribute is too general, I think gifSrc would be better.

[2015-04-07 13:59] koral-- commented on #146
Right, good idea, done.

[2015-04-07 13:59] #146 closed

[2015-04-08 03:34] xp8812 commented on #145
java.lang.ExceptionInInitializerError
	at pl.droidsonroids.gif.GifDrawable.<init>(GifDrawable.java:108)
	at com.cu.client.model.cache.CUFileCacheManager.getGifPicFromLocal(CUFileCacheManager.java:218)
	at com.cu.client.model.cache.CUFileCacheManager.access$2(CUFileCacheManager.java:213)
	at com.cu.client.model.cache.CUFileCacheManager$3.run(CUFileCacheManager.java:196)
	at com.cu.client.model.cach

[2015-04-08 03:46] xp8812 commented on #145
I,m sorry , this exception is my mistake

[2015-04-08 03:46] #145 closed

[2015-04-09 04:09] XavierLi commented on #140
Reproduced again. Android version: 4.2.1.

04-09 12:05:31.875: E/OpenGLRenderer(26896): Cannot generate texture from bitmap
04-09 12:05:31.960: I/wpa_supplicant(700): Receive Command: SIGNAL_POLL
04-09 12:05:32.117: E/AndroidRuntime(26896): FATAL EXCEPTION: pool-3-thread-1
04-09 12:05:32.117: E/AndroidRuntime(26896): java.lang.IllegalStateException: Lock pixels error, frame buffer allocation faile

[2015-04-09 12:22] koral-- commented on #140
This issue is fixed in version 1.1.4-SNAPSHOT. Will be available in 1.1.4 release.

[2015-04-10 09:09] eresid opened #147 "Add support animated WebP"
Like this:
https://dl.dropboxusercontent.com/u/6610969/cell_animation.webp

[2015-04-10 16:43] Doctoror commented on #95
@Wavesonics I had a problem that Drawable decoded from AssetInputStream drew blank data until I wrapped it with BufferedInputStream. Also I had libc SIGSEV crash on some devices when tried to decode AssetInputStream now wrapped with BufferedInputStream.

@koral You should probably accept only BufferedInputStream as a parameter and throw IllegalArgumentException if the InputStream is not a Buffered

[2015-04-10 19:09] Doctoror commented on #135
Actually I could reproduce it.
Checkout my project sample from branch **dev**
https://github.com/Doctoror/ImageFactory/tree/dev

There is a GridView with identical resources decoded and the first one is not animating until you scroll down to the bottom and up again.

Launch this on hdpi device 480x800 or so to reproduce.

If you move creating the drawables from onCreate with postDelayed with 2000

[2015-04-10 20:51] koral-- commented on #95
@Doctoror could you provide stacktrace for that SIGSEGV? Why do you think `AssetInputStream` needs to be wrapped with `BufferedInputStream`?

I see that in your project you are using inappropriate mode: https://github.com/Doctoror/ImageFactory/blob/be35339df622eb92c772184ff27f691cb0788efe/library/src/androidTest/java/com/doctoror/imagefactory/test/ImageFactoryTest.java#L38. According to the docume

[2015-04-11 10:20] Doctoror commented on #95
@koral I will get my hands on the device which crashed on Monday and post an update whether I could reproduce SIGSEGV again.

When I've had blank images I didn't get any exceptions caught, it went through like everything was fine.
I will try to reproduce that later today and post an update here as well.

And thanks for ACCESS_RANDOM tip.

[2015-04-11 13:46] es-andreev opened #148 "Gifs in adapter"
I have a listview and corresponding adapter with GifImageViews. Every time new view appears in listview, adapter's imageview is filled with new GifDrawable, and every time view goes off screen, GifDrawable is recycled. Scrolling listview fast to the bottom and back to the top multiple times, I get this in logcat:

04-11 16:33:53.353  23283-23313/com.example.app E/Parcel﹕ Parcel::writeDupFileDescri

[2015-04-11 20:25] es-andreev commented on #148
Can it be related to https://github.com/koral--/android-gif-drawable/issues/134?

[2015-04-11 23:25] es-andreev commented on #148
Eventually, that was my fault, my apologise.

[2015-04-11 23:25] #148 closed

[2015-04-12 20:56] koral-- commented on #135
@Doctoror reason is that drawable at index 0 is associated with more than one view. In my case it has been called 5 times with 2 different instances of `GifImageView` (without any scrolling) while for other indexes it has been called once. Moreover view from last call is not visible one. That's why item at index 0 is not animating: the same drawable instance is set on visible view and then on invi

[2015-04-12 23:20] koral-- commented on #140
Version 1.1.4 has been pushed to maven central repository.

[2015-04-13 09:27] Doctoror commented on #135
So, you're setting the `Drawable` to the `ImageView` only if the `Callback` is not set. Which doesn't look like a great idea to do. Since when you scroll down the `Drawable`'s callback won't be `null` thus the ImageView's drawable won't be changed. You will not notice since in the demo all `Drawable`s look the same.

I checked that and I see `getView()` is called in weird sequence:
0
1
2
3
4
5
0
0

[2015-04-13 10:25] Doctoror commented on #135
I've created a GifDrawable2 that stores a Set of WeakReferences and overridden GifImageView and GifTextView to manage GifDrawable2 callback list.

Check it out on **adapterview_bug_fix** branch.
https://github.com/Doctoror/ImageFactory/tree/adapterview_bug_fix

[2015-04-13 17:53] Wavesonics commented on #95
I've retested using releases 1.1.3 and 1.1.5 and can no longer reproduce the specific error I was seeing.

I recommend closing this issue and opening a new one for the other errors users are reporting here.

[2015-04-13 19:44] koral-- commented on #95
OK, @Doctoror please fill new issue if you encounter SIGSEGV.

[2015-04-13 19:44] #95 closed

[2015-04-17 15:50] rexi1r opened #149 "how can i show png or jpg with GifDrawable?"
GifDrawable not show png or jpg and i need this.i need if i pass png id the GifDrawable method return png drawable and if i pass gif id that return gif drawable.how can i that?can you add this functionality to GifDrawable method?

[2015-04-17 19:26] koral-- commented on #149
If you want only display that drawable you can just use `GifImageView`/`GifImageButton` it will show `GifDrawable` if resource id is recognized as a GIF. If you want an instance of `Drawable` you can use snippet something like this: https://gist.github.com/koral--/844fae1940dd2c692e7c

[2015-04-17 19:26] #149 closed

[2015-04-19 18:41] agrajaghh opened #150 "seekToFrame() and seekTo() off by one frame"
I'm having a problem with `seekToFrame()` and `seekTo()`:

at `seekToFrame()` there is written:

but `seekToFrame(0)` is giving me an empty Bitmap (with `getCurrentFrame()`).
`seekToFrame(1)` is giving me the first frame, not the second.

The same problem exists with `seekTo()`:
`seekTo(80)` gives me an empty Bitmap, but `seekTo(81)` gives me the first frame. (80ms duration)

I used this gif (but

[2015-04-20 10:45] agrajaghh commented on #150
Thanks for your quick fix! I just tested the dev branch and `seekToFrame()` and `goToFrame()` work as expected :blush:

But `goToPosition()` and `seekTo()` seem to be off by 1ms. I tested with this gif consisting of 4 frames each 50ms:
![numbergif](https://cloud.githubusercontent.com/assets/5296073/7228585/e4b558da-e75a-11e4-9e83-06caf75b3a3f.gif)

`goToPosition(0)` gives the first frame
`goToPosi

[2015-04-20 14:21] koral-- commented on #150
OK, so one after the other:
1. there was a bug that corner values were not handled properly when seeking, after f1bed87 it should be fixed
2. `seekToFrame()`/`seekTo()` works asynchronously (seeking is done in render thread) so if you call `getCurrentFrame()` immediately after in the caller thread it may return inconsistent bitmap (it only copies current content of the frame buffer) because seekin

[2015-04-20 14:21] #150 closed

[2015-04-20 14:49] agrajaghh commented on #150
Perfect, thanks again :+1:

I realized that the old seek methods were async, so I used an own TaskExecutor and did something like that:
[code]

`seekToPositionAndGet()/seekToFrameAndGet()` is of course much better :blush:

[2015-04-21 09:49] rebadi opened #151 "addAnimationListener didn't work"
v1.1.5

[2015-04-21 11:19] rebadi opened #152 "call stop() can't start();"
v1.1.5

[2015-04-21 15:18] leelei opened #153 "Does it support extremely large image , such as 4096*4096 ?"

[2015-04-21 16:06] koral-- commented on #153
Library itself does not have any limit, however `GifDrawable` larger than `Canvas#getMaximumBitmapWidth()`x`Canvas#getMaximumBitmapHeight()` won't be drawn. Maximum size can be 2048x2048 for older devices.

With `GifTextureView` there is no such restrictions.

[2015-04-21 16:06] #153 closed

[2015-04-21 17:34] Kennyc1012 commented on #152
I'm also experiencing this with 1.1.5, though I am calling pause(), not stop. The pause() call works however.

[2015-04-21 19:09] koral-- commented on #135
@Doctoror IMO the better solution is something like:
[code]
that traversal may be performed eg. in `onGlobalLayout()` of `OnGlobalLayoutListener` set in `getView()`.
Maybe `View#getDrawingRect()` can be used to check if view is on screen.

[2015-04-21 21:06] Doctoror commented on #135
Dont forget getBackground()` and `getCompoundDrawables()` for `TextView`.

In this case it's easier to override `onAttachedToWindow()` calling `setCallback()` on all View's `Drawables`. Not sure it will work but I'll give it a try. If it works it's probably the ultimate solution.

[2015-04-21 23:56] koral-- commented on #152
@rebadi thanks, fixed in the latest snapshot.
@Kennyc1012 only work of `pause()` is calling `stop()`, they both exist because first one is overriden from `MediaPlayerControl` while the second from `Animatable`.

[2015-04-21 23:56] #152 closed

[2015-04-22 01:44] koral-- commented on #151
Fixed, thanks.

[2015-04-22 01:44] #151 closed

[2015-04-22 09:08] qluan opened #154 "java.lang.RuntimeException: bad array lengths"
Caused by: java.lang.RuntimeException: bad array lengths
	at android.os.Parcel.readLongArray(Parcel.java:864)
	at pl.droidsonroids.gif.GifViewSavedState.&lt;init&gt;(GifViewSavedState.java:30)
	at pl.droidsonroids.gif.GifViewSavedState.&lt;init&gt;(GifViewSavedState.java:9)
	at pl.droidsonroids.gif.GifViewSavedState$1.createFromParcel(GifViewSavedState.java:50)
	at pl.droidsonroids.gif.GifViewSave

[2015-04-22 23:39] koral-- commented on #154
Fixed, thanks for the report.

[2015-04-22 23:39] #154 closed

[2015-04-23 01:24] ruijun opened #155 "android-gif-drawable no longer support eclipse project?"
Hello, Koral, android-gif-drawable no longer support eclipse project?

[2015-04-23 01:52] ruijun opened #156 "call to OpenGL ES API with no current context (logged once per thread)"
in android 5.0 call to OpenGL ES API with no current context (logged once per thread)

[2015-04-23 12:47] koral-- commented on #155
There is no support out of the box but you can create eclipse project yourself using existing sources. See several similar issues: https://github.com/koral--/android-gif-drawable/issues/78#issuecomment-51966908 https://github.com/koral--/android-gif-drawable/issues/107#issuecomment-68480471

[2015-04-23 12:47] #155 closed

[2015-04-23 18:23] Wavesonics opened #157 "CRASH: SIGSEGV on particular gif"
This image produces a 100% repro crash:
http://darkrockstudios.com/images/soffishdrawza1.gif

Haven't had time to investigate it my self yet.

This is all I got for the stack trace:

04-21 15:50:39.846: A/libc(18353): Fatal signal 11 (SIGSEGV), code 1, fault addr 0x8 in tid 18466 (pool-7-thread-1)

Also as a note this crash doesn't seem to have been present on older versions of the lib. I'm not su

[2015-04-23 19:12] koral-- commented on #157
This issue has been already fixed in 3468553b6c0437c5657e4cd52453efc98d21dda0 and you are right there was a regression that gifs without graphic control block has stopped working.

[2015-04-23 19:12] #157 closed

[2015-04-23 19:52] Wavesonics commented on #157
Would it be possible to get a big fix release out? Ive got a release coming up that this is important for.

[2015-04-24 00:00] koral-- commented on #157
Here you are, should be propagated through maven central in 2 hours.

[2015-04-25 00:56] koral-- commented on #156
This library is not using OpenGL ES API directly. Probably that message can be produced when hardware accelerated Canvas is used. You can try disabling hardware acceleration if you encounter any issues.

[2015-04-25 00:56] #156 closed

[2015-04-25 14:39] koral-- commented on #126
Closing due to inactivity. Issue can be reopened if more info is provided.

[2015-04-25 14:39] #126 closed

[2015-04-28 13:48] csshuai opened #158 "How can i scale the gif?"
e.g. :
       the gif image size: 1280 * 720,
       how can i get a Bitmap with size (800 * 600)?

-------------------------
Just like this:
GifInfoHandle : {
      width = 1280;
      height = 720;
}

Bitmap buffer =  Bitmap.createBitmap(800, 600, Bitmap.Config.ARGB_8888);
GifInfoHandle.renderFrame(buffer);

[2015-04-28 20:02] koral-- commented on #158
You can use something like this:
[code]

[2015-04-29 01:39] csshuai commented on #158
That used more memory.  There are ways to save memory?

[2015-04-29 13:41] xh2009cn opened #159 "Could not read input channel file descriptors from parcel"
My Apps use v1.1.2 , somethimes it will crash by java.lang.RuntimeException: Could not read input channel file descriptors from parcel.Is somewhere forget to release which class file descriptor leak?

[2015-04-29 19:17] koral-- commented on #159
Please append full stacktrace.

[2015-04-30 01:38] koral-- commented on #158
In `GifTextureView` you can use [TextureView#getBitmap(int, int)]
(http://developer.android.com/reference/android/view/TextureView.html#getBitmap(int, int))
there is no internal bitmap in such case.

In `GifDrawable` I have no other ideas without modifying library source.
You can change `#getCurrentFrame()` implementation to not make a copy but return internal buffer directly.
Bitmap passed to `#r

[2015-04-30 01:38] #158 closed

[2015-04-30 01:57] csshuai commented on #158
Whether it will provide `#renderFrame()` to get smaller Bitmap function in the future?

[2015-04-30 05:36] xh2009cn commented on #159
java.lang.RuntimeException: Could not read input channel file descriptors from parcel.
	at android.view.InputChannel.nativeReadFromParcel(Native Method)
	at android.view.InputChannel.readFromParcel(InputChannel.java:148)
	at android.view.InputChannel$1.createFromParcel(InputChannel.java:39)
	at android.view.InputChannel$1.createFromParcel(InputChannel.java:36)
	at com.android.internal.view.InputBi

[2015-04-30 09:49] koral-- commented on #159
Problem is located outside this library. That is known bug in Android framework: https://code.google.com/p/android/issues/detail?id=32470

[2015-04-30 09:49] #159 closed

[2015-05-01 00:10] koral-- commented on #158
I have no plan to do such feature myself, but pull requests are welcome.

[2015-05-01 17:47] agrajaghh opened #160 "Crash while creating GifDrawable(String) with invalid path"
If I create a `GifDrawable` with an invalid path, I'm getting a `NoSuchMethodError`, but I guess a `IOException` should be thrown, no?

[code]

[code]

[2015-05-01 19:36] koral-- commented on #160
`GifIOException` should be thrown in that case. It looks like you have incorrect proguard configuration and GifIOException constructor has been stripped. Here is correct configuration: https://github.com/koral--/android-gif-drawable#-proguard-configuration
`pl/droidsonroids/gif/GifIOException` `<init>` `(I)V` is a [constructor](https://github.com/koral--/android-gif-drawable/blob/master/src/main/j

[2015-05-01 19:36] #160 closed

[2015-05-01 20:00] agrajaghh commented on #160
shame on me, thanks for the help!

[2015-05-03 23:04] crowbarsolutions opened #161 "How to get a bitmap thumbnail from a GifDrawable"
Hi,

I am using the latest release 1.1.6 and up until recently I have been using the following code to get a Bitmap so that I can have a preview thumbnail for my GIFs:

        // my GifDrawable
        GifDrawable gifFromBytes = new GifDrawable(fetchGif(Integer.parseInt(imagename), getDbImageBytes(Integer.parseInt(imagename))));
        // I create a new blank Bitmap with the same dimensions as t

[2015-05-03 23:24] agrajaghh commented on #161
why don't you use `getCurrentFrame()` (I'm not sure if you can call it right after new GifDrawable, or if you have to wait async until the buffer is written) or `seekToFrameAndGet(0)` (which should always work) which will return a `Bitmap`?

[2015-05-04 00:30] koral-- commented on #161
@crowbarsolutions if you just need a bitmap with particular frame then do as @agrajaghh said, `GifDrawable#seekToFrameAndGet()` is dedicated to do that.
Code from your snippet may not work for at least 2 reasons:
- `gifFromBytes` has no bounds, so will draw nothing on the canvas even if frame buffer contains rendered frame. Initially bounds `Rect` is empty and is set by framework automatically whe

[2015-05-04 00:30] #161 closed

[2015-05-04 12:27] dangalg opened #162 "animated gifs flashing partially"
I display the animated gifs in an arrayadapter in a tabbed layout. They are randomly flashing the background color, as if they are not displaying correctly.

[2015-05-04 13:14] koral-- commented on #162
Are you using the latest library version (1.1.6)? If so please attach example of flashing GIF? If not, try the latest version. There was bug with flashing background (#122), but it has been resolved.

[2015-05-04 13:29] dangalg commented on #162
Yes using latest version. it is only flashing when I am using animted gifs with transperancy

![dan](https://cloud.githubusercontent.com/assets/5820649/7454284/c0818986-f27a-11e4-87ed-c3bbda6ca684.gif)

[2015-05-04 13:36] dangalg commented on #162
this is how my viewpager looks. I am unable to capture the flashes... the camera is too slow
![quickmemo _2015-05-04-16-31-43](https://cloud.githubusercontent.com/assets/5820649/7454366/b2bb23ec-f27b-11e4-9553-bfe15a2f2527.png)

[2015-05-04 14:21] dangalg commented on #162
I managed to shoot this video of the problem (and converted it to a gif). please look at the gif on top left.

![demo](https://cloud.githubusercontent.com/assets/5820649/7455080/ea3880d4-f281-11e4-82dd-0cf027cfeeaf.gif)

[2015-05-04 14:54] koral-- commented on #162
OK, I'll check this.

[2015-05-04 14:59] dangalg commented on #162
Thanx!

[2015-05-05 01:45] koral-- commented on #162
Is flashing still visible when hardware acceleration is turned off? Eg. by setting `android:hardwareAccelerated="false"` in manifest (inside `application` tag).

[2015-05-05 04:28] dangalg commented on #162
inside application tag or activity tag?

[2015-05-05 04:32] dangalg commented on #162
I put it both in application tag and in activity tag and it is still happening

[2015-05-05 04:40] dangalg commented on #162
when I put hardware accelerated true. it works much better. the whole phone works better. the only problem is that that one animated gif moves a little bit and then is stuck.

[2015-05-05 05:26] dangalg commented on #162
Ok I did a few configurations:

hardware_accelerated = false
![hardware-accelerated-false](https://cloud.githubusercontent.com/assets/5820649/7467350/71d61196-f2ff-11e4-982a-d34bc45e3fc7.gif)
result: lag and flashing

hardware_accelerated = true and in my view pager I put setOffscreenPageLimit = 0
![hardware-accelerated-true-setoffscreenpagelimit-0](https://cloud.githubusercontent.com/assets/58206

[2015-05-05 07:02] dangalg commented on #162
ok I found out something. I replaced that first gif putting a different gif in the first spot and now it is stuck. so I think this issue has nothing to do with your code or the specific gif, but something to do with my code. Also it works great with hardware accelerated set as true on my galaxy s2 running 4.1.2 and my lg g3 running lollipop.
You are awesome. thanks!

[2015-05-05 18:35] koral-- commented on #162
I noticed that sometimes when there is a lot of drawing operations on hardware accelerated `Canvas` (lot of GIFs and/or high frame rate) there are artifacts like black or white lines. `E/OpenGLRenderer﹕ Cannot generate texture from bitmap` appears in logcat in such cases. I don't know (yet) how to fix that. Actually problem is located outside this library so I can only make workarounds like drawin

[2015-05-05 19:47] dangalg commented on #135
I didn't quite understand the solution? should I use doctors GifDrawable2? will that solve my problem?

[2015-05-05 20:50] Doctoror commented on #135
@dangalg that solves the problem with first AdapterView's first View that don't animate, but it's a bit nasty solution.

@koral-- are you gonna do something about this?

[2015-05-06 04:20] Kris9527 opened #163 "Unable to work with android-gif-drawable library"
Hi,
     I am trying to use android-gif-drawable for my Android project. I downloaded the android-gif-drawable-1.1.6.aar file and unzip it, added classes.jar and .so files to my Eclipse's libs folder. However, I still get the exception. How can I add that to my project correctly?

05-06 12:20:18.737: E/AndroidRuntime(16680): FATAL EXCEPTION: main
05-06 12:20:18.737: E/AndroidRuntime(16680): Proces

[2015-05-06 04:29] dangalg commented on #135
I am thinking of a simple hack solution for this issue. How about if we make the two first items identical and then just remove the first one... I will try this out later.

[2015-05-06 06:46] agrajaghh commented on #163
best way is to add this to `build.gradle`:
[code]

[2015-05-06 08:34] Kris9527 commented on #163
Thanks for your reply, but my IDE is eclipse, I want to use the classes.jar and lib.so to support my project as simple as possible, How can I add that to my project correctly?

[2015-05-06 13:34] GiusWhite opened #164 "Gif Loop"
Hi all.
The gif is shown properly, but is not looped.
How I can make it indeterminate?

[2015-05-06 13:44] koral-- commented on #164
Loop count from GIF file should be respected.
Could you post example of file which is not looping properly?

[2015-05-06 13:56] koral-- commented on #135
@Doctoror yes, I am planing to include some solution in library.

[2015-05-06 13:57] GiusWhite commented on #164
I have this simple layout element:
[code]

The file video_home.gif is a normal gif :confused:

[2015-05-06 13:59] koral-- commented on #164
Please attach that `video_home.gif` file here.

[2015-05-06 14:00] koral-- commented on #163
See #155.

[2015-05-06 14:00] #163 closed

[2015-05-06 14:20] koral-- commented on #164
There is no loop count defined in that file so it defaults to 1. This is intended behavior and most software like image viewers or web browsers behave the same.

However I can add method like `GifDrawable#setLoopCount(int)` which can be used to overwrite loop count from GIF file. 0 means infinite loop.

[2015-05-06 14:54] GiusWhite commented on #164
I think it may be useful to other people

[2015-05-06 16:47] DmitriyZaitsev commented on #164
@GiusWhite, you can use ```GifDrawable.addAnimationListener()``` method and restart playing the GIF when ```onAnimationCompleted()``` callback is called.

[2015-05-07 08:14] Kris9527 commented on #163
Thank you for your help！

[2015-05-08 12:13] newjing opened #165 "If I use GifImageView in XML, how to get its GifDrawable to setSpeed?"
I checked about JavaDoc and didn't find any API about it. Thanks!

[2015-05-08 12:57] koral-- commented on #165
`GifImageView` is an `ImageView` so you can use something like this:
[code]

[2015-05-08 12:57] #165 closed

[2015-05-10 01:37] koral-- commented on #135
@dangalg @Doctoror I have new idea, it should work for more cases than solution proposed until now. Basically invalidate all views which hosts given drawable. It will work for all `View` subclasses (eg. layouts with `GifDrawable` as background, not necessarily in adapters), does not require modifications in existing library classes and is not using any dirty hacks.
Example based on ImageFactory: h

[2015-05-10 07:35] dangalg commented on #135
I added the MultiCallback class to my app and this is my code for getview:

 @Override
        public View getView(int position, View convertView, ViewGroup parent) {
            View v = convertView;
            ViewHolder holder; // to reference the child views for later actions

            if (v == null) {
                LayoutInflater vi =
                        (LayoutInflater) getActivity

[2015-05-10 17:00] Doctoror commented on #135
@koral--

II modified it a little. See the comments in code. Other than that, it seems okay at first look.

[code]

[2015-05-10 18:24] dangalg commented on #135
Where does baseadapter2 come from?

[2015-05-10 18:40] dangalg commented on #135
Ok used your code and tested and it works very very well!! thanks so much!

[2015-05-10 23:14] koral-- commented on #164
Right, restart in `onAnimationCompleted()` is a solution available in current release. Additionally `GifDrawable#setLoopCount(int)` is availiable from the current snapshot.

[2015-05-10 23:14] #164 closed

[2015-05-12 00:59] koral-- commented on #135
@Doctoror I've found and fixed 2 issues:
1. animation of first item had stopped if grid is scrolled down eg. about a half of height of the item but only first time. I don't know (yet) exact reason, but fix (workaround?) is to replace `View#invalidateDrawable()` with `View#invalidate()`.
2. If `MultiCallback#addView()` would be used by two (or more) parallel threads the following scenario might be

[2015-05-12 09:38] Doctoror commented on #135
@koral-- LinkedHashSet is not thread-safe so I think you must add a lock on all methods that can modify it. Note that synchronizing methods will not work here if you can call `MultiCallback#addView()` and `MultiCallback#removeView()` asynchronously.

Also, if I'm correct, `Collections.synchronizedSet() will not work here since the Iterator will not be synchronized.

[2015-05-12 13:51] DoM4 opened #166 "How to make an endless cycle"
Is there a way to make the gif image restart when animation finish?

[2015-05-12 14:11] koral-- commented on #166
See https://github.com/koral--/android-gif-drawable/issues/164#issuecomment-99534606

[2015-05-12 15:06] DoM4 commented on #164
I am using the gif view in a view pager. I can see it but cannot loop it.
This is my code

GifDrawable tooltips_add = null;
        GifDrawable tooltips_drag = null;
        GifDrawable tooltips_dashboard = null;
        try {

            if(page.equalsIgnoreCase("my_channels")) {
                System.out.println("tooltips position: " + position);

                if(position == 0)

[2015-05-12 15:26] koral-- commented on #164
@DoM4 I reopened #166 for your issue.

[2015-05-12 15:27] koral-- commented on #166
https://github.com/koral--/android-gif-drawable/issues/164#issuecomment-101311629

[2015-05-13 01:09] koral-- commented on #166
@DoM4 code similar to yours is working for me.
To restart animation you have to call `reset()` not `start()` in `onAnimationCompleted()`.
If it does not help please attach `tooltip_channels` GIF here.

[2015-05-13 01:38] koral-- commented on #135
Right, some thread-safe collection should be used. I think `CopyOnWriteArrayList` will be better there than synchronized blocks because synchronization affects performance and invalidation is normally much more frequent than collection modifications. `CopyOnWriteArrayList#get()` does not need to be synchronized because copy is made on each list modification (`addIfAbsent()` and `remove()` methods

[2015-05-13 01:40] koral-- commented on #162
I am closing this issue since discussion happens in #135.

[2015-05-13 01:40] #162 closed

[2015-05-13 01:40] koral-- commented on #162
I am closing this issue since discussion happens in #135.

[2015-05-13 01:42] koral-- commented on #142
Issue closed due to inactivity for over a month. Can be reopened if more information is provided.

[2015-05-13 01:42] #142 closed

[2015-05-13 08:40] DoM4 commented on #166
It doesn't work for me. I've fixed the problem by asking the designer to make the gif endless.

[2015-05-13 13:56] koral-- commented on #166
As can be see here: https://github.com/koral--/android-gif-drawable/blob/master/src/main/java/pl/droidsonroids/gif/RenderTask.java#L35 `onAnimationCompleted()` is fired after last frame is rendered.
If it isn't then for some reason either last frame is not reached for some reason or listener is removed.

Post more info and reopen this issue if you are interested in explaining that.

[2015-05-13 13:56] #166 closed

[2015-05-15 17:16] raylee4204 opened #167 "the latest version has visual issue with animated GIF drawable"
I use a GIFDrawable as a menu item in the actionbar, and the latest version has the visual issue you can see in the screenshot when animating.

![screenshot_2015-05-15-11-14-24](https://cloud.githubusercontent.com/assets/2085389/7657994/750c8a04-fb04-11e4-8419-7f851deb51c5.png)

[2015-05-15 18:38] koral-- commented on #167
Could you attach that affected GIF?

[2015-05-15 19:10] raylee4204 commented on #167
![soundwave](https://cloud.githubusercontent.com/assets/2085389/7660008/771fbe32-fb14-11e4-99b2-972defd9061d.gif)

[2015-05-16 00:44] koral-- commented on #167
Fixed, thanks for the report.

[2015-05-16 00:44] #167 closed

[2015-05-18 01:45] koral-- commented on #135
I've done some research and noticed that issue 1. from https://github.com/koral--/android-gif-drawable/issues/135#issuecomment-101084596 is caused by the fact that one of the views for item at index 0 is reused (new row appears at the bottom). From this point only drawable for view at index 0 passed to `Callback#invalidateDrawable()` is different from that returned by `ImageView#getDrawable()` so

[2015-05-18 12:20] Doctoror commented on #135
@koral--

You are correct. The issue with single MultiCallback in snippet https://github.com/koral--/android-gif-drawable/issues/135#issuecomment-100668514 can be easily fixed by creating a `Drawable`-to-`MultiCallback` `Map`.

[code]

I have no comments regarding `setRenderingTriggeredOnDraw(false)` since I'm not sure how the resulting Drawable behaves with and without it and don't have any spare

[2015-05-20 19:16] raylee4204 commented on #167
@koral-- I noticed this issue is also in 1.1.5. In what version did the issue appear?

[2015-05-22 11:21] koral-- commented on #167
It seems that affected versions are 1.1.3 to 1.1.6. Bug is fixed in 1.1.7.

[2015-05-22 14:49] studyfordream commented on #110
thank you very very much.

[2015-05-24 06:45] JunbinLu opened #168 "(Android 5.0)Gif drawable issues"
when Gif drawable  is running on Android 5.0,it have an error occurred.

Error:
 invalid address or address of corrupt block 0xab13462c passed to dlfree
Fatal signal 11 (SIGSEGV), code 1, fault addr 0xdeadbaad in tid 12339

[2015-05-24 07:05] lindesu commented on #168
I have the same error. Will it happen in 64-bit android? Google issue Android 5.0 is base on 64-bit systems

[2015-05-24 10:35] koral-- commented on #168
Could you post native stacktrace (like there: https://github.com/koral--/android-gif-drawable/issues/12#issue-22711043)?

[2015-05-25 15:53] RandomAltThing opened #169 "Crashing"
I am creating a windows 8 launcher and I have an animated GIF with the windows loading logo. It didn't crash before I added this code.

<b>Main.xml</b>

<pre><?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:gravity="center"
    android:orientatio

[2015-05-25 15:54] RandomAltThing commented on #169
Apparently <pre> isint working for me. Here is main.xml
<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:gravity="center"
    android:orientation="vertical" >

    <pl.droidsonroids.gif.GifImageView
    android:layout_width="match_parent"
    and

[2015-05-25 15:54] RandomAltThing commented on #169
Sorry, it got messed up ^^

[2015-05-25 16:00] koral-- commented on #169
Please post a stacktrace.

[2015-05-25 16:02] RandomAltThing commented on #169
Like a CatLog?

[2015-05-25 16:02] RandomAltThing commented on #169
LogCat*

[2015-05-25 16:58] koral-- commented on #169
Yes. Optionally you can say how you to create such launcher so I could try to reproduce that.

[2015-05-26 00:10] lindesu opened #170 "FATAL EXCEPTION: main in Android 5.0.2"
I run the sample, it seem to lost something.

I'm tracking down a crash in the native side.

05-26 08:08:47.350: E/AndroidRuntime(22222): android.view.InflateException: Binary XML file line #2: Error inflating class pl.droidsonroids.gif.GifTextView
05-26 08:08:47.350: E/AndroidRuntime(22222): 	at android.view.LayoutInflater.createView(LayoutInflater.java:633)
05-26 08:08:47.350: E/AndroidRuntime(2

[2015-05-26 00:50] koral-- commented on #170
It looks like you have outdated submodule. Try running `git submodule update`.

[2015-05-26 03:32] CaesarZhao opened #171 "Run Android 5.1 Crash"
Hi   koral:

05-26 11:25:48.188: E/AndroidRuntime(30343): FATAL EXCEPTION: main
05-26 11:25:48.188: E/AndroidRuntime(30343): Process: com.example.testgif, PID: 30343
05-26 11:25:48.188: E/AndroidRuntime(30343): java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.testgif/com.example.testgif.MainActivity}: android.view.InflateException: Binary XML file line #13: Error infl

[2015-05-26 03:35] lindesu commented on #170
I can't compile the source. I download the release 1.1.7

[2015-05-26 06:31] lindesu commented on #170
I think the problem is in the "GifViewUtils.isFreezingAnimation". Can you check the method in line 66 ? You use the R file that is in your project's .

crashing...

05-26 14:10:30.112: E/AndroidRuntime(29644): Caused by: java.lang.NoClassDefFoundError: Failed resolution of: Lpl/droidsonroids/gif/R$styleable;
05-26 14:10:30.112: E/AndroidRuntime(29644): 	at pl.droidsonroids.gif.GifViewUtils.isFreez

[2015-05-26 09:41] koral-- commented on #171
Duplicate of #170

[2015-05-26 09:41] #171 closed

[2015-05-26 09:44] koral-- commented on #170
What did you download? sources jar or aar? That styleable referneced in `GifViewUtils.java:66` is located here https://github.com/koral--/android-gif-drawable/blob/master/src/main/res/values/attrs.xml and present in AAR.

[2015-05-26 09:48] lindesu commented on #170
I download aar. And I put the values.xml into res/values. When I put the attrs.xml into res/values. It report error "error: Attribute "freezesAnimation" has already been defined"

[2015-05-26 09:49] lindesu commented on #170
I think the values.xml and attrs.xml is the same file with different name

[2015-05-26 09:56] koral-- commented on #170
Interesting, what version of gradle and android gradle plugin (that defined in top-level `build.gradle` file) are you using?
In my last post, I didn't say it precisely but I meant that file with that styleable is present. In sources it is called `attrs.xml` but after compiling, in AAR it is `values.xml` (content is the same).

[2015-05-26 10:37] naiyu opened #172 "how to build the jni source to ".so" file"
I try to build the jni source to ".so" file, but failed, because there is no any Android.mk or Application file, and I don't know how to edit them.

[2015-05-26 10:53] koral-- commented on #172
`Android.mk` is generated by gradle plugin. Assuming that it is placed in `jni` folder, It should look like this:
[code]

[2015-05-26 10:53] #172 closed

[2015-05-26 11:31] lindesu commented on #170
I don't use android studio. I use eclipse with adt. Is it the problem? I don't know why crash <Didn't find class "pl.droidsonroids.gif.R$styleable">. It seems can't find pl.droidsonroids.gif.R. I don't know how to do... Are you sure it doesn't matter?

[2015-05-26 11:51] koral-- commented on #170
Yes, it definitely matters. With android studio/gradle everything is working.
It looks like that XML is not compiled into R class and/or that class lands in wrong package. I don't use eclipse now but AFAIK you should create eclipse library project and place that XML file in `res/values`, package name in library manifest should be `pl.droidsonroids.gif`

[2015-05-26 14:09] lindesu commented on #170
well , it work , thanks

[2015-05-26 14:11] #170 closed

[2015-05-26 14:13] koral-- commented on #170
I see that many people is still using eclipse, maybe some tutorial for it should be made? I'll create issue for that.

[2015-05-26 22:43] arielch opened #173 "Cannot load library on 2.2.x"
The library cannot be loaded on some devices, all reports so far are on devices with Froyo, Android 2.2.x, API Level 8.
This is also reproducible on the emulator with Nexus 4 API Level 8 armeabi:

05-26 22:26:44.253      324-324/org.arielch.gifdrawabledemo I/dalvikvm﹕ Could not find method android.graphics.Bitmap.getAllocationByteCount, referenced from method pl.droidsonroids.gif.GifDrawable.getAl

[2015-05-27 00:36] lindesu commented on #170
OK. As you say, create eclipse library project and place that XML file in res/values, package name in library manifest should be pl.droidsonroids.gif, then it works

[2015-05-27 02:36] Catherine0728 commented on #172
Similar to the upstairs, I do not know how to create the Android.mk file in the project, each time it was copied from other projects! There is no weapon?

[2015-05-27 08:34] treasure-lau opened #174 "android textview.setText(spanned) unsupported!"
gif image put in &lt;img&gt; tag,no effect.thanks!

[2015-05-27 09:37] koral-- commented on #172
Gradle is a weapon, it automatically creates `Android.mk` based on contents of `src/main/jni` and `build.gradle`.

[2015-05-27 09:44] koral-- commented on #174
If your `Spanned` contains `ImageSpan` with `GifDrawable`(s) and you set `Callback` to that drawables, it will work, see #83 and gist linked there.

[2015-05-27 09:44] #174 closed

[2015-05-28 01:03] koral-- commented on #134
Closing due to inactivity for over 2 months.

[2015-05-28 01:03] #134 closed

[2015-05-28 01:07] koral-- commented on #173
OK, current library version is working on API 9+ only. I'll try to fix it ASAP.

[2015-05-31 08:43] dss886 opened #175 "GifDrawable as a ImageSpan in Textview"
I noticed [issues #83](83) and the [Example for issues #83](https://gist.github.com/koral--/accde6deea1c59d58481), but it didn't work when I tried.

I use the same code as the example in the adapter of my listview, but it only shows "tst" ('e' disappeared)

debug after initial the GifDrawable, I found the bounds is "0, 0, -0, 0", Did I do something wrong?

![image](https://cloud.githubusercontent.

[2015-05-31 14:48] koral-- commented on #175
That example has been written some time ago and did not match current rules, I forgot to update it. I've updated sample project ([ImageSpanFragment](https://github.com/koral--/android-gif-drawable-sample/blob/master/sample/src/main/java/pl/droidsonroids/gif/sample/ImageSpanFragment.java) added) and code in linked gist.

Now `GifDrawable` initially has no bounds like drawables from Android framewor

[2015-05-31 14:48] #175 closed

[2015-05-31 14:50] koral-- commented on #174
There was a lack in linked sample, now it is updated, see #175 for more details.

[2015-06-01 02:06] dss886 commented on #175
It works, thanks~

[2015-06-01 03:25] wangxin05 opened #176 "How to loop if use GifImageView in xml?"
I used GifImageView  like this,
<pl.droidsonroids.gif.GifImageView
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:src="@drawable/src_anim"
    android:background="@drawable/bg_anim"
    />

but, how to loop this GifImageView?

[2015-06-01 14:01] koral-- opened #177 "Create sample eclipse project/tutorial"

[2015-06-01 14:05] koral-- commented on #176
Currently there is no way to modify loop count using XML. From java code you can use something like this: `GifDrawable#setLoopCount(0)` - count=0 means infinite loop.

However I think that is good idea to add ability to set loop count in XML. I am marking this issue as enhancement, and will add `app:gifLoopCount=<count>` ASAP.

[2015-06-03 02:56] wangxin05 commented on #176
Ok,Very thanks~  I will close this issue.

[2015-06-04 11:27] nuoyan2 commented on #168
I also met in 5.0 can not run the bug and the landlord to solve the same problem Not print any abnormal information to print as same as the original poster   Hope koral can solve soon

[2015-06-04 11:30] Kennyc1012 opened #178 "Activity Not Responding"
I have been experiencing issues lately within my app that I believe is caused by this library, but I am unable to pin point the exact issue.

In my scenario, a user can swipe between pages (view pager pattern) of gifs. When the fragments are not visible, a thumbnail is used before the gif is loaded for display purposes. Once the fragment becomes visible, the gif is then loaded and displayed. The A

[2015-06-04 12:57] Kennyc1012 commented on #178
Logs:

06-04 20:54:59.907     888-1100/? I/InputDispatcher﹕ Application is not responding: Window{9be8050 u0 com.kennyc.open.imgur/com.kenny.openimgur.activities.FullScreenPhotoActivity}.  It has been 5006.0ms since event, 5005.6ms since wait started.  Reason: Waiting to send non-key event because the touched window has not finished processing certain input events that were delivered to it over 50

[2015-06-05 00:50] koral-- commented on #168
I need complete stacktrace and/or info how to reproduce that error, without that I don't know what to do.

[2015-06-05 02:05] nuoyan2 commented on #168
I don't have the print information report any unusual exception information I send you the past in the form of photos ，You can test in 5.0 I am a Chinese English is not very good, please forgive me is to rely on translation software，I don't know how to reply the picture, I'll give you a handwritten copy down bugs are as follows:
    PID(10513)   TID(10513)  Application (com.example.gif)  Tag(libc)

[2015-06-05 02:16] JunbinLu commented on #168
My problem has been solved, you can look issus #170 that is closed ..You  can  try it.

[2015-06-05 02:47] nuoyan2 commented on #168
(≧﹏ ≦)Thank you my English is not good time I see a little bit of translation

[2015-06-09 03:39] 10045125 opened #179 "Gif Jni NDK-BUILD"
Hello,How to compile JNI, no Android.mk?Thanks.

[2015-06-09 10:05] androidbyxj commented on #179
I am downloading *android-gif-drawable-1.1.7.aar
<https://github.com/koral--/android-gif-drawable/releases/download/v1.1.7/android-gif-drawable-1.1.7.aar>,*Then
unzip the file, access to the JNI documentation and class.jar.And then
imported into eclipse projects.The structure of the lib screenshots are as
follows:

​I didn't use the NDK to compile.Thank you for your reply

2015-06-09 11:39 GMT+08:

[2015-06-09 11:16] koral-- commented on #179
See #172

[2015-06-09 11:16] #179 closed

[2015-06-11 01:16] koral-- commented on #173
API 8 is supported in version 1.1.8-SNAPSHOT.

[2015-06-11 01:16] #173 closed

[2015-06-11 11:44] nuoyan2 commented on #168
I hope I can send a moderator eclipse version of the demo I believe using eclipse or a lot of thank you very much

[2015-06-11 11:49] nuoyan2 commented on #44
I hope I can send a moderator eclipse version of the demo I believe using eclipse or a lot of thank you very much，I want to ask next can realize GifView and imagView whether public a View。Please forgive me for not sending email can only be found in the opinions of others

[2015-06-11 11:49] nuoyan2 commented on #44
My email is  519719668@qq.com

[2015-06-11 16:00] dangalg opened #180 "seekToFrame when paused isn't paused"
I want to be able to control seeking backwards and forwards by by passing the frame number. is this possible?

my code:

        contourLineGif = new GifDrawable(getResources(), R.drawable.contour_line);
        GifHandler.showGifDrawable(contourLineGif, contourLine, mMultiCallback);

        contourLineGif.stop();
        setContourLine(0);

    private void setContourLine(final int seek) {

[2015-06-12 00:57] koral-- commented on #178
I could not reproduce ANR with ViewPager. Could you post ANR trace? It looks like that: `https://github.com/nostra13/Android-Universal-Image-Loader/issues/848#issue-52219935`

[2015-06-12 01:08] koral-- commented on #180
Seeking when paused should be possible. I'll check this.

[2015-06-12 01:14] Kennyc1012 commented on #178
The ANR trace is posted above,

 06-04 20:54:59.910 888-1100/? I/WindowManager﹕ Input event dispatching timed out sending to com.kennyc.open.imgur/com.kenny.openimgur.activities.FullScreenPhotoActivity. Reason: Waiting to send non-key event because the touched window has not finished processing certain input events that were delivered to it over 500.0ms ago. Wait queue length: 7. Wait queue head a

[2015-06-12 12:18] koral-- commented on #178
As trace I mean call stack. Eg. from linked example:
[code]

[2015-06-12 12:40] Kennyc1012 commented on #178
I can't seem to reproduce this anymore, and there are have been no reports of ANRS or user feedback suggesting such for my app so I will close this, thanks for your help.

[2015-06-12 12:40] #178 closed

[2015-06-14 16:31] dors opened #181 "Support resizing according to device density"
Placing the gif in drawable-xxhdpi and running on an hdpi device does not scale down the gif.

For example, placing a 600x600 image in xxhdpi and running the apk on an hdpi device should load the image as a 300x300 image.
However, using the lib, placing a 600x600px gif in drawable-xxhdpi and running the app on an hdpi device will load and show a 600x600px gif.

[2015-06-16 23:27] dangalg commented on #180
Do you need anymore info from me on this issue?

[2015-06-16 23:31] dangalg opened #182 "Release from memory on listview"
I am using this library in my listview. Every list item has a gifdrawable running an animated gif. It is working fantastic. But i am noticing that the memory goes up and up reaching almost 200 on my lg g3. And the biggest problem is that when I click an item which moves me to a new activity, the memory is not released. What am I doing wrong?

[2015-06-17 00:03] koral-- commented on #180
I think no, I was able to reproduce it and will fix it ASAP.

[2015-06-17 00:38] dangalg commented on #180
Great!

[2015-06-17 10:20] nuoyan2 commented on #168
12 days I haven't done... What I use is koral release last year so don't support 5.0 trouble LuJunBin hair inside the eclipse examples have java8 abnormality is as follows:
06-17 18:13:10.036: E/AndroidRuntime(1861): FATAL EXCEPTION: main
06-17 18:13:10.036: E/AndroidRuntime(1861): Process: pl.droidsonroids.gif, PID: 1861
06-17 18:13:10.036: E/AndroidRuntime(1861): java.lang.RuntimeException: Unab

[2015-06-17 11:28] koral-- commented on #168
With eclipse you need to `attrs` to `res/values`, like described here: https://github.com/koral--/android-gif-drawable/issues/170#issuecomment-105498028

[2015-06-17 11:31] nuoyan2 commented on #168
my attrs.xml
<?xml version="1.0" encoding="utf-8"?>
<resources>
    <declare-styleable name="GifTextureView">
        <attr name="gifSource" format="reference|string"/>
        <attr name="isOpaque" format="boolean"/>
    </declare-styleable>
    <declare-styleable name="GifView">
        <attr name="freezesAnimation" format="boolean"/>
    </declare-styleable>
</resources>

[2015-06-17 11:34] koral-- commented on #168
It should look like this: https://github.com/koral--/android-gif-drawable/blob/master/src/main/res/values/attrs.xml

[2015-06-17 11:34] nuoyan2 commented on #168
Before I use is that you take the class.jar Last year the jar of the engineering project due to personal technology problems now can't transfer the eclipse, all want to seek an eclipse project thank you very much

[2015-06-17 11:37] nuoyan2 commented on #168
I see just now I found my attrs is the same as you

[2015-06-17 11:45] koral-- commented on #182
Java heap is freed when java object is garbage collected and native heap is freed after it when running finalizer. It is not deterministic when exactly garbage collector will run, VM decides about it. So maybe nothing is wrong.
Object can be garbage collected only when it is not reachable by strong references. You can dump java heap and analyze it with tools like MAT to see if you have reachable r

[2015-06-18 23:23] #182 closed

[2015-06-19 02:54] dangalg commented on #182
Ok thanks!
On Jun 19, 2015 2:23 AM, "Karol Wrótniak" <notifications@github.com> wrote:

[2015-06-19 02:54] dangalg commented on #182
Ok thanks!

[2015-06-21 00:48] koral-- commented on #169
Closing due to incompletion, may be reopened if more information is provided.

[2015-06-21 00:48] #169 closed

[2015-06-21 00:48] koral-- commented on #168
@nuoyan2 do you still have a problem?

[2015-06-21 01:05] koral-- commented on #135
Information about `MultiCallback` added to README. Closing original issue due to lack of information, can be reopened if some info is provided.

[2015-06-21 01:05] #135 closed

[2015-06-21 01:25] koral-- commented on #180
Seeking when paused should work properly in 1.1.8-SNAPSHOT.

[2015-06-21 01:25] #180 closed

[2015-06-21 08:06] dangalg commented on #180
I'm testing it

[2015-06-21 08:09] dangalg commented on #180
I put compile 'pl.droidsonroids.gif:android-gif-drawable:1.1.8-SNAPSHOT' in the gradle, gave me an error

[2015-06-21 09:55] nuoyan2 commented on #168
I'm sorry, bother you rest, yes there is still a problem, I don't technology can I use your aar. Jar you seems can only use in the studio tools. I consult a friend with the studio, he technology is much but he take you for give me the APP still 5.0 collapse directly, after 5.0 below. More than 95% in China or in eclipse I sincerely hope you can release a version of the eclipse. Thanks.

[2015-06-21 11:32] koral-- commented on #180
You need to add maven snapshot repository in `build.gradle`:
`maven{ url('https://oss.sonatype.org/content/repositories/snapshots')}`

[2015-06-21 13:22] koral-- commented on #168
OK, there is another issue for eclipse support (#177). I am closing this one due to lack of information from the author of first post.

[2015-06-21 13:22] #168 closed

[2015-06-21 13:41] nuoyan2 commented on #168
Thank you very much.

[2015-06-29 02:30] kanglue commented on #177
Where to download the sample for eclipse which adapt to Android 5.0?

[2015-06-30 09:23] fulingfan opened #183 "Where can get .jar file"

[2015-06-30 19:47] koral-- commented on #183
Assuming that you are asking for .jar for Eclipse there is no ready one. See #155 how to create it yourself or wait for #177 to complete.

[2015-06-30 19:47] #183 closed

[2015-07-02 08:42] tyl210110 opened #184 "it can't be works From XML"
It works nomal from code,but it focus closed when it from XML！I want know why and what make it happened this ?

[2015-07-02 19:33] koral-- commented on #184
Please post complete stacktrace and your XML.

[2015-07-05 13:09] wangxingge opened #185 "How to control GIF play once and stop on last frame?"
How to control GIF play once and stop on last frame?

[2015-07-05 13:38] koral-- commented on #185
You can use `GifDrawable#setLoopCount(1)`

[2015-07-05 13:38] #185 closed

[2015-07-05 13:50] wangxingge commented on #185
Yeah, I found this API in new version. Thank you, Koral

[2015-07-06 02:07] tyl210110 commented on #184
![001](https://cloud.githubusercontent.com/assets/5423204/8514635/9170ca94-23c6-11e5-8a8c-490de6e6d5c4.png)
![002](https://cloud.githubusercontent.com/assets/5423204/8514636/9e2d809c-23c6-11e5-9768-a4d926bcf57c.png)
![004](https://cloud.githubusercontent.com/assets/5423204/8514641/ab6d9ddc-23c6-11e5-8970-d6f629844ed9.png)

[2015-07-06 09:09] nuddlesW commented on #184
I encounter the same problem, i am using it in the listView ,are there ways to solve it ?

[2015-07-06 09:11] tyl210110 commented on #184
There has no way to solve it present .

[2015-07-06 17:37] koral-- commented on #184
It looks like duplicate of #170. You need to add manually styleable if you are using eclipse.

[2015-07-06 17:37] #184 closed

[2015-07-07 01:14] tyl210110 commented on #184
![qq 20150707091054](https://cloud.githubusercontent.com/assets/5423204/8536769/231143cc-2488-11e5-8463-a6144de01dbd.png)
I has add it,but it still not working

[2015-07-07 09:38] koral-- commented on #184
That XML must be located in project which package name in manifest is `pl.droidsonroids.gif` https://github.com/koral--/android-gif-drawable/issues/170#issuecomment-105498028
Is it true in your `GifTest` project?

[2015-07-07 09:42] tyl210110 commented on #184
Zhe packageName must be pl.droidsonroids.gif ? If this it has not a good expansion.

[2015-07-07 15:28] koral-- commented on #184
Requirement is that package name in AndroidManifest in project which mentioned XML is located in must match that defined in java code.

I think the best way to achieve that in Eclipse is to create library project with library sources and that XML and add that project as a reference to application project.

[2015-07-08 01:42] tyl210110 commented on #184
Is there has other solution to it ?

[2015-07-08 01:46] tyl210110 commented on #184
I want to use it in my project but it is not perfect From xml. I‘m so sed for it.

[2015-07-08 15:52] koral-- commented on #184
The easiest way is to use gradle/android studio instead of eclipse, everything works out of the box there.

Another solution: assuming that `GifTest` is your application project and you have library sources inside and required XML added, you can change import of R to match your package name from AndroidManifest.xml.

[2015-07-09 01:37] tyl210110 commented on #184
Thank you very much.

[2015-07-09 06:51] codingplusplus opened #186 "Can't play this GIF file"
![err1](https://cloud.githubusercontent.com/assets/1555670/8589547/db6cbc9a-2649-11e5-9a1b-5a60d35039ed.gif)

[2015-07-12 00:28] koral-- commented on #186
Fixed, thanks for the report.

[2015-07-12 00:28] #186 closed

[2015-07-14 02:40] zzhopen opened #187 "5.1 Can't display properly"
Gratitude can find so good content
5.1 Can't display properly,I"not find  important error message

[2015-07-14 19:39] matetukacs opened #188 "Can't loop gif programatically."
Hi Koral,

Awesome project!

I'm trying to display gif in ImageView.

Gif is set from assets file.

onDraw() code:

    @Override
    protected void onDraw(Canvas canvas) {
        super.onDraw(canvas);

        if (positionAnimation != null) {
            positionAnimation.draw(canvas);

            positionAnimation.setBounds(0, 0, 200, 200);

            positionAnimation.start();

[2015-07-14 19:54] #188 closed

[2015-07-15 16:25] koral-- commented on #187
Please post your code.

[2015-07-15 22:44] shawjak3 commented on #181
I am running into the exact same issue. Placed an image in xxxhdpi and on an hdpi device its still huge.

[2015-07-16 02:50] zzhopen commented on #187
//								This Way,load Native gifFile normal operation:

								GifDrawable gifFromPath = new GifDrawable(gif_path);
								gifView.setImageDrawable(gifFromPath);

//								But load Network Data Image not Show:

								asyncHttpClient.get(newImage,new AsyncHttpResponseHandler() {

											public void onSuccess(int arg0, Header[] arg1,byte[] arg2) {
												InputStream myInputStream = n

[2015-07-16 02:55] zzhopen commented on #187
May be I have a problem of the way get ImageData,If there support load Netdata path,very well.

[2015-07-17 08:14] Sophiexuer opened #189 "native codes compilation problem"
Hi,

I try to compile native codes in the jni directory. However, I got an error:

jni/gif.c: In function 'JNI_OnLoad':
jni/gif.c:387:23: error: 'CLOCK_MONOTONIC_RAW' undeclared (first use in this function)
jni/gif.c:387:23: note: each undeclared identifier is reported only once for each function it appears in
/cygdrive/d/android-ndk-r9-windows-x86_64/android-ndk-r9/build/core/build-binary.mk:345:

[2015-07-17 14:28] koral-- commented on #189
mk files workinng on ndk r10-e are located in dev branch: https://github.com/koral--/android-gif-drawable/tree/dev/src/main/jni
You can use options from it and update your ndk.

[2015-07-17 14:28] #189 closed

[2015-07-19 00:49] koral-- commented on #187
I assume that it is confirmed that `onSuccess()` is being called. If so:
- is there any `IOException` thrown by `GifDrawable` constructor?
- is `vh.iv_new_gif` `GifImageView` or `GifImageButton`?

[2015-07-20 08:03] hexin1979wei opened #190 "crash in android 5.0"
on android 5.0 platform ,gif can not load ,and go to crash

[2015-07-20 09:58] koral-- commented on #190
Check if it is not a duplicate of #170, if not please post your stacktrace.

[2015-07-21 03:50] hexin1979wei commented on #190
has error when compile to make .so file,on android studio,log is:Error:Execution failed for task ':compileDebugNdk'.

how to solve it???

[2015-07-21 06:39] hexin1979wei commented on #190
can you give me jar file  and so file from 1.1.7 version?

[2015-07-21 08:32] hexin1979wei commented on #190
I have resolve it

[2015-07-21 23:16] #190 closed

[2015-07-22 12:31] yqpan1991 opened #191 "Unable to work with android-gif-drawable library in eclipse"
Hello,author , I appricate your contribution for sharing this project
Here is my problem:
I did as your instruction :
1. download aar file
2. move classes.jar and so to eclipse libs folder
when I run my project,the crash log as follows:
07-22 19:45:11.643: E/AndroidRuntime(3893): java.lang.RuntimeException: Unable to start activity ComponentInfo{com.test/com.test.demo.GifViewActivity}: android.vie

[2015-07-22 20:50] koral-- commented on #191
See #170

[2015-07-22 20:50] #191 closed

[2015-07-23 02:20] yqpan1991 commented on #170
I encounter problem like this , then I solved by myself, When using eclipse,
1. please import folder after you unzipped  aar as a project
2.move jni to libs
3. clean this project
4. make it as a library
5. import this library to your project
6. done!

[2015-07-23 09:57] wiliemusLin opened #192 "hi"
i like it

[2015-07-23 13:29] koral-- commented on #192
Thanks, you can also star this repository (button at the top-right corner).

[2015-07-23 13:29] #192 closed

[2015-07-24 06:22] nuoyan2 commented on #187
Hi,Thank you very much koral，My 5.0 problem solved，The reason is not compiled a 64 - bit so package，Before the interrupt you。

[2015-07-30 10:06] bkraszewski opened #194 "Gif crashes app without stack trace or any exception information"
Hello, please try to display this gif as GifDrawable:
![image](http://i.imgur.com/NCF2Px1.gif)

It makes app crash and I have no stacktrace in logcat nor in Crashlitycs.
Logcat:

    07-30 11:53:32.786  24503-24503/com.mewe.dev D/dalvikvm﹕ Late-enabling CheckJNI
    07-30 11:53:32.916  24503-24503/com.mewe.dev I/Fabric﹕ Initializing Crashlytics 2.2.4.42
    07-30 11:53:32.946  24503-24503/com.mewe

[2015-07-30 19:05] koral-- commented on #194
Working for me on Genymotion Nexus 6 5.1 (screenshot attached). More info is needed to investigate.
BTW if attached LogCat is complete then this library is not even used. Something like this should appear on device with API level <19:
[code]
![image](https://cloud.githubusercontent.com/assets/3340954/8992152/55a6ea44-36fd-11e5-84c5-4c7b1b7ea289.png)

[2015-07-31 08:28] bkraszewski commented on #194
Please try using GifDrawable constructor with String file location on device.
Im doing this operation in Async Task, and set Drawable to GifImageView in onPostExecute method
Logcat is cleared after crash I can only see message:
    Fatal signal 11 (SIGSEGV) at 0xff776379 (code=1) thread 25006 (fifo-pool-threa)

[2015-07-31 11:17] bkraszewski commented on #194
More detailed event info:

07-31 13:15:04.239: I/DEBUG(245): *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
07-31 13:15:04.239: I/DEBUG(245): Build fingerprint: 'htc_europe/ville/ville:4.1.1/JRO03C/128506.8:user/release-keys'
07-31 13:15:04.239: I/DEBUG(245): Revision: '128'
07-31 13:15:04.239: I/DEBUG(245): pid: 14803, tid: 15544, name: pool-4-thread-1  >>> com.mewe.dev <<<
07-31

[2015-07-31 17:08] alenheart-dev commented on #84
hey eresid, you can just remove "v" from .gifv
and imgur will return you gif format.
http://i.imgur.com/zvATqgs.gifv
http://i.imgur.com/zvATqgs.gif

[2015-08-02 23:35] teddis opened #195 "Difficulty controlling position/state"
I'm finding it impossible to control the position (frame) and state (running/stopped) of a gif animation in a listview item. I have multiple states depending on whether an item is sending, sent, or static (for a chat application).

For sending state, I just want to show frame 0 and stop:

[code]
but instead it plays despite my calling gd.stop() and/or gd.pause(). perhaps an invalidate causes the a

[2015-08-04 00:49] Kennyc1012 opened #196 "Unable to play Gif"
This gif has not been able to play for me. http://i.imgur.com/36ao1fY.gif

The way it is played is its downloaded from the URL and a GifDrawable is created by calling new GifDrawable("path to downloaded file") and passing to the ImageView. When it loads, it starts to play and pauses after the first frame. If trying to replay it, it sometimes throw a segfault crash.

It only fails when it is downlo

[2015-08-04 01:11] koral-- commented on #194
OK, stacktrace is useful, but how to reproduce it? Could you post a snippet of code which reproduces that error? Or maybe more info about circumstances eg.
* is file on disk changing during animation?
* does that error happens every time or randomly?

BTW not sure if it is intended but content of the attached GIF has changed. It looked fine at the day of posting but now is malformed.

[2015-08-04 01:56] koral-- commented on #195
It looks like both scenarios are caused by the same bug - when `GifDrawable#setVisible()` is called (for example originating from `ImageView#setImageDrawable()`) then animation is started there without checking if drawable has been previously stopped.
I'll fix that ASAP.

[2015-08-04 02:06] koral-- commented on #196
OK, I was able to reproduce that and I'll fix it ASAP.

[2015-08-04 02:08] koral-- commented on #187
OK I assume that @nuoyan2 and @zzhopen ar both your accounts.

[2015-08-04 02:08] #187 closed

[2015-08-04 03:22] SyllaJay opened #197 "Could not find method android.widget.ImageView.<init>, referenced from method pl.droidsonroids.gif.GifImageView.<init>"
08-03 18:34:05.054: I/dalvikvm(10000): Could not find method android.widget.ImageView.<init>, referenced from method pl.droidsonroids.gif.GifImageView.<init>
08-03 18:34:05.054: W/dalvikvm(10000): VFY: unable to resolve direct method 8772: Landroid/widget/ImageView;.<init> (Landroid/content/Context;Landroid/util/AttributeSet;II)V
08-03 18:34:05.054: D/dalvikvm(10000): VFY: replacing opcode 0x70 at

[2015-08-04 03:24] SyllaJay commented on #197
I got a crash "shutting down VM", the log above is the only log I get. Does anyone can help?

[2015-08-04 12:44] bkraszewski commented on #194
Yeah, app crashes when this malformed gif is displayed, Ill provide you isolated sample of crashing code.

[2015-08-04 18:48] koral-- commented on #197
That log fragment does not contain an error. It is just an information when run on pre-Lollipop that some methods are unavailable.
Try disabling logcat filters.

[2015-08-05 08:57] han4wluc opened #198 "Flashing/blinking Pink color inside GifImageView"
Hello I'm trying to create a splash view that contains an image and a gif.
The problem is that sometimes there is a flash/blink of pink color on my GifImageView. The pink color appears in the GifImageView for maybe 2ms and then disappears.
Tested on Galaxy S4. Android 4.4.2

        <pl.droidsonroids.gif.GifImageView
            android:id="@+id/splash_1"
            android:layout_marginRight="11

[2015-08-09 02:56] koral-- commented on #194
It looks like this is effect of the same bug as reported in #196. Stacktraces are a little bit different because GIF in this issue contains transparent pixels in affected frame while that another one does not.

Attached malformed GIF contains pixels located outside of the canvas. Segfault happens when calculated address of such pixel belongs to space allocated for another process, so it is not alw

[2015-08-09 13:46] bkraszewski commented on #194
It may helps: I noticed even malformed gifs cause not crash when memory usage of app is low, but if you have for example some bitmaps around, or other gifs preloaded, app gets crashed

[2015-08-09 20:01] koral-- commented on #194
OK, now there should be no segfaults when image is not confined to canvas. In such cases canvas is extended.
BTW I've checked how such case is handled by PC software displaying GIFs and found two approaches:
* canvas is extended using transparent pixels, observed in web browsers (opera, firefox, chromium)
* canvas is extended respecting background color, observed in image viewers (gwenview, qiview

[2015-08-09 20:01] #194 closed

[2015-08-09 20:05] koral-- commented on #196
Fixed, if you are interested in bug details see https://github.com/koral--/android-gif-drawable/issues/194#issuecomment-129097433
Case is the same as in #194 but GIF from this issue extends canvas by one pixel only.

[2015-08-09 20:05] #196 closed

[2015-08-09 21:00] koral-- commented on #195
I rethought relationship between [Drawable#setVisible()](https://developer.android.com/reference/android/graphics/drawable/AnimationDrawable.html#setVisible(boolean, boolean)) (behavior of `AnimationDrawable` is used now) and (re)starting animation and realized that situation is slightly different.
* When rendering of next frame is triggered on drawing the current one (which is default behavior) t

[2015-08-09 21:00] #195 closed

[2015-08-09 21:30] koral-- commented on #198
I am unable to reproduce that, could you attach `onboarding` GIF?

[2015-08-16 12:25] kennethmath commented on #197
Yeah I can do anything I dont want too and nothing where I do

[2015-08-16 13:00] kennethmath commented on #198
Can try but trying to get a computer brought over and he knows bout this

[2015-08-16 13:02] kennethmath commented on #198
What is that

[2015-08-18 08:57] LuckLe commented on #168
JunbinLu  你是怎么解决5.0版本崩溃问题的？ how do you solve the problem in 5.0?

[2015-08-20 04:39] SyllaJay opened #199 "Canvas: trying to use a recycled bitmap"
Hi, I got a crash here.

08-20 12:23:51.063  10384-10384/com.. D/AndroidRuntime﹕ Shutting down VM
08-20 12:23:51.063  10384-10384/com.. W/dalvikvm﹕ threadid=1: thread exiting with uncaught exception (group=0x41688ba8)
08-20 12:23:51.103  10384-10384/com.meitu.highchat E/MTLog CrashHandler﹕ Canvas: trying to use a recycled bitmap android.graphics.Bitmap@4368df60
    java.lang.RuntimeException: Canv

[2015-08-20 20:21] koral-- commented on #199
Please post your code. That exception may be thrown if you are recycling `GifDrawable` which is still visible.

[2015-08-22 13:58] jiangchao1987 commented on #170
yeah, it works.@yqpan1991

[2015-08-24 13:36] SyllaJay commented on #199
There's too much logic code.
But, it is a ListView contains GifImageView, changing GifImageView visibility frequently.
Is it possible that this exception is caused by ListView recycling?

[2015-08-25 00:14] koral-- commented on #199
No, unless you are calling `GifDrawable#recycle()`.
The only possible cause of that Exception is that your code calls `GifDrawable#recycle()` (excluding direct access to package-private fields or broken ROMs) and after that drawable is tried to be drawn.
Code in library does not call `#recycle()` anywhere.

[2015-08-25 02:11] SyllaJay commented on #199
I do call #recycle() manually.
Is it necessary to call #recycle() manually when the GifDrawable of the GifImageView needs to be replaced?

It is my code bellow.

public class GifView extends GifImageVIew {
.......

public void displayGif(String gif) {
        try {
            recyclePotential();
            GifDrawable drawable = new GifDrawable(gif);
            this.setImageDrawable(drawable);

[2015-08-26 00:49] koral-- commented on #199
It is not necessary to call `recycle()`. It is mainly useful on API levels < 11 when there is a lot of memory consumed by bitmaps. See this official documentation for more info: https://developer.android.com/training/displaying-bitmaps/manage-memory.html#recycle
`GifDrawable` uses `Bitmap` to store pixels which are later drawn. So the same rules as for bitmaps apply.
If you are calling `recycle()`

[2015-08-26 00:49] #199 closed

[2015-08-28 08:59] yuanfangCBC commented on #170
Fatal signal 11 (SIGSEGV), code 1, fault addr 0x0 in tid 31598 (f_drawable_demo)
5.0 android How to do?

[2015-08-28 09:05] yuanfangCBC commented on #168
LuckLe , I also met the same problem,could you tell me how do you solve?

[2015-08-28 09:06] yyjdelete opened #200 "Any plan to support APNG format?"
https://en.wikipedia.org/wiki/APNG

[2015-08-28 18:10] koral-- commented on #170
@yuanfangCBC please post full stacktrace in another issue

[2015-08-28 23:04] wassupnari opened #201 "java.lang.UnsatisfiedLinkError"
Hi @koral--

Thanks for providing an awesome library!

I started using GifImageView for a few weeks, but I'm getting a crash report which is caused from:

Caused by: java.lang.UnsatisfiedLinkError: Couldn't load pl_droidsonroids_gif from loader dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/com.myapp.team-1.apk"],nativeLibraryDirectories=[/vendor/lib, /system/lib]]]: findLibrary re

[2015-08-29 01:14] koral-- commented on #201
`UnsatisfiedLinkError` means that native library (.so file) cannot be loaded because it is either not included in APK or cannot be read (see #51). If you are using this library as a gradle dependency and have no custom abiFilters, .so files should be included properly.

[2015-08-29 01:19] koral-- commented on #200
Maybe sometime in the future. I'm marking this an enhancement.

[2015-08-29 06:30] wassupnari commented on #201
Hi @koral--

Thanks for the quick reply! :)

In my case, it works fine for most of devices, except HTC One (Android version 4.4.3). It seems like one of your .so has the same name as HTC One's, so that the system chose to use its existing shared library, not yours. What do you think?

I'd like to investigate this further, but I'm not good at JNI. Can I get the names of .so from this project?

[2015-08-30 01:12] koral-- commented on #201
Even if HTC uses the same library file name and it will be loaded instead of proper one, then no `UnsatisfiedLinkError` should be thrown at loading time because loading will be successful. Optionally some linkage error may be thrown later when one of the library method is called.

From this fragment of stacktrace:

we see that library name is *pl_droidsonroids_gif* so .so file is called *libpl_dro

[2015-08-30 06:07] cloudsoar opened #202 "How to make gif picture Rounded"

[2015-08-31 02:28] LuckLe commented on #168
sorry，i do not solve the problem. my friends say the reason may be the .so, there is not  x64

[2015-08-31 02:49] nuoyan2 commented on #168
I have already solved the problem, need demo friend can talk private QQ519719668. Email don't know why to go out, may be because the Chinese wall of the original, I only have the eclipse version of the demo

[2015-08-31 03:32] LuckLe commented on #168
thanks nuoyan2 , his demo starts work. i hope we can communicate with each other and to help more people.

[2015-08-31 09:12] smoothdvd commented on #181
same issue

[2015-08-31 15:55] koral-- commented on #168
@nuoyan2 @LuckLe if you have working eclipse demo, you can share it and I can add/link to it in README

[2015-08-31 18:52] suwhs commented on #51
gradle bug :-\
[code]
solves this for me

[2015-09-01 05:50] nuoyan2 commented on #168
@koral-- I'm very sorry, I also want to share with you, but I won't be making the upload file, all got this morning didn't do well, you can add me if you can QQ519719668 I give you the source code, you come to share, after all, this is the demo you wrote I just use it, I will upload to infringe your rights. You can also tell your email, but I don't know that I can send in the past, after all, Chin

[2015-09-01 05:57] nuoyan2 commented on #168
@koral--     http://yunpan.cn/cmurzRdY2Y98v     Access to the password： de1b      This is the cloud disk 360 share connection and access password, you can try to open

[2015-09-02 01:47] nuoyan2 commented on #168
@koral-- I share your demo to Csdn connection address：http://download.csdn.net/detail/qq_25342167/9072431

[2015-09-04 15:08] koral-- commented on #168
@nuoyan2 I was able to download rar from the first link. I'll upload it to github ASAP.

[2015-09-05 17:06] koral-- commented on #198
Closing due to inactivity, can be reopened if more info is provided.

[2015-09-05 17:06] #198 closed

[2015-09-05 17:07] koral-- commented on #197
Closing due to inactivity, can be reopened if more info is provided.

[2015-09-06 01:56] koral-- commented on #202
That should be possible using `BitmapShader`. Namely: create a `BitmapShader` using frame buffer, set it in `Paint` and draw rounded rectangle with that Paint.
I'll try to prepare code doing that ASAP.

[2015-09-06 02:07] koral-- commented on #181
It should work in version 1.0.10-SNAPSHOT, sorry for the delay.
When `GifDrawable` is created from resource then density is taken into account and drawable size is scaled appropriately.
Note that only visible size is affected (values reported using Android graphic API - intrinsic, minimum width and height), but not the frame buffer.

[2015-09-07 18:32] koral-- commented on #177
Done https://github.com/koral--/android-gif-drawable-eclipse-sample

[2015-09-07 18:32] #177 closed

[2015-09-07 18:32] koral-- commented on #168
@nuoyan2 done: https://github.com/koral--/android-gif-drawable-eclipse-sample

[2015-09-08 07:10] tabishhussain commented on #170
what is jni ??? @yqpan1991

[2015-09-08 11:09] koral-- commented on #170
How to for eclipse: https://github.com/koral--/android-gif-drawable-eclipse-sample

[2015-09-08 11:09] koral-- commented on #184
How to for eclipse: https://github.com/koral--/android-gif-drawable-eclipse-sample

[2015-09-08 11:10] koral-- commented on #191
How to for eclipse: https://github.com/koral--/android-gif-drawable-eclipse-sample

[2015-09-08 11:57] tyl210110 commented on #184
Thank you very much.

[2015-09-08 13:40] Nihilus13 opened #203 "Drawing cache from GifImageView"
Using this http://stackoverflow.com/a/28963226 gifdecoder, for creating bitmap from the entire gifimageview(gif is transformed, rotated etc.), I've got some problem. Some of the frames have black/other color part of frames, just like here.
https://cloud.githubusercontent.com/assets/9919633/9706074/ea5d04ee-54d9-11e5-9a27-f8316d11962b.png
original gif is here http://i.imgur.com/aknjW6J.gif
In gifim

[2015-09-08 15:13] koral-- commented on #203
To just get currently displayed frame as a bitmap you can use `GifDrawable#getCurrentFrame()`.
To get particular frames as bitmaps you can use `GifDrawable#seekToFrameAndGet(int index)` in a loop.

[2015-09-08 15:13] #203 closed

[2015-09-09 08:43] Nihilus13 commented on #203
I have already seen this methods, but tested them in different way. Now is everything alright. I have one more question. How can I get gif delay between frames from GifDrawable? Is there aby method to obtain mNextFrameRenderTime variable?I suppose this is the value that, I'm looking for.

[2015-09-09 13:10] koral-- commented on #203
You can use `GifDrawable#getFrameDuration(int index)`.

[2015-09-09 13:18] Nihilus13 commented on #203
I am so blind... Thanks for help!

[2015-09-10 08:32] natman44 opened #204 "loop count error"
1、GifDrawable.setLoopCount(5)
2、GifDrawable.getLoopCount()
3、GifDrawable.getCurrentLoop()

the getCurrentLoop() is error.
the log as follows

09-10 16:25:37.006: E/strongtv(26270): tv.huan.app.business.view.ScheduleTips$1$1$1.onAnimationCompleted()::###################### loopCount=5 curLoop=0
09-10 16:25:47.676: E/strongtv(26270): tv.huan.app.business.view.ScheduleTips$1$1$1.onAnimationCompleted(

[2015-09-10 08:39] yuanfangCBC commented on #170
@koral--  Has been solved,thank you.

[2015-09-16 03:31] RubenGees opened #205 "Proguard issue"
I have a lib with your lib in it. When I use my lib in a project I get the following crash:
[code]
I tried both `'proguard-android-optimize.txt` and `'proguard-android.txt`, not working.

[2015-09-16 03:44] RubenGees commented on #205
I am terribly sorry, I didn't use the most recent version... It is working now.

[2015-09-16 03:44] #205 closed

[2015-09-20 07:14] Saren-Arterius opened #206 "Set GifInfoHandle's visbility to public/add ability to get frames without creating drawable"
Currently I am using koush/ion's GifDecoder to decode GIFs and animate the ImageSpan. However GIF corruption occurs in some GIFs, while gif-drawable don't. As a result, I am migrating from GifDecoder to gif-drawable.

I need access to GifInfoHandle, please set GifInfoHandle's visbility to public.

[2015-09-20 23:56] koral-- commented on #202
See commit linked above. `GifDrawable#setCornerRadius()` has been added. Pass radius=0 to remove rounding.
I think it will be good idea to add that method to the next version of the library, so I am leaving this issue open.

[2015-09-20 23:58] koral-- commented on #206
Sorry, but `GifInfoHandle` is intentionally package-private. What do you exactly want to to?

[2015-09-21 02:51] Saren-Arterius commented on #206
I originally intended to implement this interface
[code]
And later I came to this
[code]

[2015-09-21 16:45] raylee4204 opened #207 "Lint error for annotations in the constructor with android gradle 1.4.0-beta1"
Running proguard with android gradle 1.4.0-beta1 throws "Error: Expected resource of type raw [ResourceType] " on usage of drawable resource id for one of the GifDrawable contructors. I believe it's because of using 2 annotations for the id parameter, which is the following:
public GifDrawable(@NonNull Resources res, @DrawableRes @RawRes int id)

[2015-09-22 14:16] koral-- commented on #207
It looks like bug in lint. Drawable and raw resources ids are supported but not eg. string or dimen. So 2 annotations needs to be specified but not eg. AnyRes.
I haven't used 1.40-beta yet but in 1.3.1 it is working as described above.
This issue should be reported to android bugtracker: https://code.google.com/p/android/

[2015-09-22 14:37] raylee4204 commented on #207
Alright thanks.

It's been reported
https://code.google.com/p/android/issues/detail?id=187181&thanks=187181&ts=1442932491

[2015-09-23 08:05] wingfordream opened #208 "When my animation had done,how can i restart the animation?I try the "reset",but no animation,it seek to the last frame!"

[2015-09-23 23:33] #207 closed

[2015-09-25 10:59] dochathuc opened #209 "Restart animation"
Hi,
I have a listview of gifs. I also setLoop =3 for each item. At the first time, I stop it, then override setOnClickItem on listview to restart a gif. However, it just restart for the first click (after that never restart).

The solution is that I have to renew GifDrawable. How can I restart without renewing this.

Please help me.

[2015-09-25 11:00] dochathuc commented on #209
https://github.com/koral--/android-gif-drawable/issues/208

[2015-09-28 02:48] koral-- commented on #204
It is a bug that `GifDrawable.getCurrentLoop()` may return value equal to number of loop count. That value is used internally to indicate that all the loops has completed but should not be returned by public API.

Issue with `GifDrawable.getCurrentLoop()` called in `AnimationListener.onAnimationCompleted()` returning not monotonically increasing values is partially caused by design, but also needs

[2015-09-28 02:49] koral-- commented on #208
`GifDrawable#reset()` should work. It is a bug that it isn't. I'll fix it ASAP.

[2015-09-28 03:03] koral-- commented on #209
Right, looks like it is the same issue.

[2015-09-28 03:03] #209 closed

[2015-09-30 05:54] nuoyan2 commented on #168
I'm very sorry, I have something ask for leave before, come back and continue to look for a job, thank you very much for let me learn knowledge.

[2015-09-30 05:55] nuoyan2 commented on #168
@koral-- I'm very sorry, I have something ask for leave before, come back and continue to look for a job, thank you very much for let me learn knowledge.

[2015-09-30 19:00] koral-- commented on #208
Now it should work as expected.

[2015-09-30 19:00] #208 closed

[2015-09-30 19:00] koral-- commented on #209
Now it should work as expected.

[2015-09-30 20:00] koral-- commented on #204
Fixed, value returned by `GifDrawable.getCurrentLoop()` should not exceed bounds and `AnimationListener.onAnimationCompleted()` has now parameter `loopNumber`.

[2015-09-30 20:00] #204 closed

[2015-10-01 02:32] dochathuc commented on #209
thanks

[2015-10-01 13:04] elsennov opened #210 "stop() is not working"
I called .stop() but the animated gif is still running? I am using:
`compile 'pl.droidsonroids.gif:android-gif-drawable:1.1.10'`

Here is my code:
[code]

Could you please help why? Thanks

[2015-10-01 14:05] #202 closed

[2015-10-01 14:11] koral-- commented on #210
Yesterday's commit cf2ad6c3fdf36a834feda052c4efd679b49ecd1e should fix also that bug.

[2015-10-01 15:15] elsennov commented on #210
Has it been merged to master?

[2015-10-01 16:40] koral-- commented on #210
Not yet, I'll merge it ASAP.

[2015-10-01 23:06] elsennov commented on #210
Thank you @koral-- , waiting for next release.

[2015-10-01 23:44] koral-- commented on #210
Done.

[2015-10-01 23:49] elsennov commented on #210
It is still not working :(
Did i miss something?

[2015-10-02 01:50] koral-- commented on #210
Are you using library version 1.1.10?

[2015-10-02 01:52] elsennov commented on #210
Yes.

[2015-10-02 02:21] koral-- commented on #210
OK, I'll investigate it.

[2015-10-02 02:27] koral-- commented on #210
@elsennov how do use `mDiscoveringGif` later in your code?

[2015-10-02 02:38] elsennov commented on #210
It is the same as i mentioned above.

[2015-10-02 11:18] koral-- commented on #210
I meant what code is next lines.
You must assign that newly created drawable to some view, span or something else eg.
[code]
And I'm asking what it is.

[2015-10-02 11:31] elsennov commented on #210
Oh, here is the next code:
[code]
Where mDiscoveringImage is GifImageView

[2015-10-02 11:32] elsennov commented on #210
And here is the manifest
[code]
Where logo_animated is .gif

[2015-10-02 11:52] koral-- commented on #210
In such case you don't need to create second `GifDrawable` instance. Just get existing, and call `stop()` on it.
Something like:
[code]
Sample project contains similar code:
https://github.com/koral--/android-gif-drawable-sample/blob/master/sample/src/main/java/pl/droidsonroids/gif/sample/AnimationControlFragment.java#L27
https://github.com/koral--/android-gif-drawable-sample/blob/master/sample/sr

[2015-10-02 12:21] elsennov commented on #210
Yes, i have followed it, but it is still not working :(
It looks like the animation is reset, instead of stopped.
Did i miss something? The NDK itself, should i do something with it?

[2015-10-02 13:02] koral-- commented on #210
Could you make example project demonstrating your issue?

[2015-10-02 14:07] elsennov commented on #210
Ok wait~

[2015-10-03 04:28] elsennov commented on #210
Hi @koral--
I found why it is not working, so there is these line in my code:
[code]
The stop is not working because `mDiscoveringImage` is reassigned using the .gif. So, i need to reassigned the `mDiscoveringGif` as well.
[code]
Phew, finally. Thanks for assisting me @koral-- . This library is amazing :+1:

[2015-10-03 04:35] #210 closed

[2015-10-04 17:40] Bryanli910 opened #211 "Unable to getDrawingCache() from GifTextureView"
Hi, when I call the getDrawingCache() from a GifTextureView, the result is a black screen. Can you please advise?

Bitmap bitmap = Bitmap.createBitmap(getWindow().getDecorView().findViewById(R.id.myGifTexture).getDrawingCache());

[2015-10-04 20:38] koral-- commented on #211
`TextureView` (and its subclasses as well) uses different rendering mechanism than other `View`s and drawing cache does not apply to them.
Similar effect can be achieved using [TextureView#getBitmap()](http://developer.android.com/reference/android/view/TextureView.html#getBitmap()).

[2015-10-04 20:38] #211 closed

[2015-10-05 22:17] #181 closed

[2015-10-08 00:52] jonasasx opened #214 "Waiting for task finish on main thread"
When I call GifDrawable.stop(), these lines hangs the main thread:

	try {
		mSchedule.get();
	} catch (InterruptedException | ExecutionException ignored) {
		//no-op
	}

I have many drawables on the screen. And when I stop all of them, main thread hangs.
May be, *ScheduledFuture.cancel(true)* will be better in this case?

[2015-10-08 01:17] koral-- commented on #214
I has been already changed. Version 1.1.10 uses `ScheduledFuture#cancel()` there.

[2015-10-08 01:17] #214 closed

[2015-10-08 11:23] jonasasx commented on #206
How can I decode file/stream to `android.graphics.Bitmap`, using this library?

[2015-10-08 17:10] koral-- commented on #206
@Saren-Arterius what is the problem? Which method from `GifInfoHandle` do you need exactly?
@jonasasx generally please fill new Github issue for new questions, but you can see in listing above that there is a method: `GifDrawable#seekToFrameAndGet()`.

[2015-10-08 17:32] jonasasx commented on #206
@koral--, I have to make `GifInfoHandle` public in my code to decode gif image to bitmap without drawable. My question was about this issue.

[2015-10-08 18:24] koral-- commented on #206
OK, I understand now. Interesting use case. I'll consider it.

[2015-10-09 02:42] Saren-Arterius commented on #206
It's just about animating ImageSpan in a TextView. It's messy, I have written a GifThread for each gif url, it will replace the drawable inside a drawable wrapper with a next frame over time, but it just works.

[2015-10-09 02:45] Saren-Arterius commented on #206
Without using GifInfoHandle, I will have to pause the new GifDrawable immediately. Don't know whether this will cause extra overhead (A new gif animating has been already submited to an executor?).

[2015-10-10 21:32] koral-- commented on #206
If you just want animated GIF inside `ImageSpan` you can use `GifDrawable` with custom callback which invalidates `TextView`. Like that in sample project: [ImageSpanFragment](https://github.com/koral--/android-gif-drawable-sample/blob/master/sample/src/main/java/pl/droidsonroids/gif/sample/ImageSpanFragment.java). But drawable needs to manually paused if you don't want it to start automatically.
B

[2015-10-10 22:46] jonasasx opened #215 "MultiCallback class must collect Drawable.Callback, but not View"
MultiCallback class must collect Drawable.Callback, but not View. It will be more correct.
Espessially if I want to use non-View Callback class.

[2015-10-11 00:28] koral-- commented on #215
Right, done.

[2015-10-11 00:28] #215 closed

[2015-10-11 00:41] jonasasx opened #216 "MultiCallback class must have own Handler"
If a Drawble, which has a MultiCallback, schedules a task, this task will be executed in every Drawable.Callback member of MultiCallback.
It will be correctly to set a Handler to schedule tasks in constructor or setter of MultiCallback.
Handler must be single per every Drawable.

[2015-10-11 00:55] koral-- commented on #216
Why `Handler` should be used there?

[2015-10-11 01:04] jonasasx commented on #216
Not `Handler` exactly, it may be any main-thread executor. But, Android's `View` class uses `Handler` to schedule `Drawable`'s tasks. Unfortunately, Android's Handler doesn't implements Java's abstract interface `java.util.concurrent.Executor`.

[2015-10-11 01:53] koral-- commented on #216
I meant why any additional mechanism should be used?

[2015-10-11 04:40] Saren-Arterius commented on #206
@koral-- I am currently having greater control that I can let my users to limit the GIF fps. Also, the code in my app is too fixed that it's very hard to change. Anyway, thanks for letting me know that.

[2015-10-11 07:41] jonasasx commented on #216
If `Drawable` wants to schedule some task, it can use it's `Callback`. But if this `Callback` has `MultiCallback` implementation, the task will be executed by each of the members of `MultiCallback`.
For example, my `Drawable` wants to implement some animation. It calls `Drawable#getCallback().scheduleDrawable(Drawable, Runnable, long)`, where `Runnable` has some counter (increment). If `Drawable#g

[2015-10-11 22:13] koral-- commented on #216
OK, I see now, however there are use cases where executing `Runnable` on each callback is intended.
Eg. I have a single instance of custom `GifDrawable` subclass which I want do display in several custom `ImageView`s which do some extra action apart from displaying frames which is fired when `Runnable` is scheduled. For example several fade-out steps while displaying given frame. In such case `Vie

[2015-10-12 14:12] jonasasx commented on #216
You can implement both of these: single executor and executors from `Callback` members.

[2015-10-14 03:46] kymjs opened #217 "Where to find .so file"
Where to find .so file ?
I use AndroidStudio by gradle reference library.
My new demo project run success, but include my work project throw:
```java.lang.UnsatisfiedLinkError: Couldn't load pl_droidsonroids_gif from loader xxxx  findLibrary returned null```
like to [Issue 201](https://github.com/koral--/android-gif-drawable/issues/201) and [Issue 51](https://github.com/koral--/android-gif-drawabl

[2015-10-14 15:45] koral-- commented on #217
So file should be in one of the directories of `nativeLibraryDirectories` (like in #201). But on some devices (ROMs) it does not contain required directory. Is your device one of listed in linked issues?

Could you try inserting the following one-liner before using `GifDrawable` in your code?:
`System.load(context.getApplicationInfo().nativeLibraryDir+"/libpl_droidsonroids_gif.so");`
where `contex

[2015-10-15 03:41] kymjs commented on #217
Thank you for your prompt. I unzipped apk, can not find lib folder.
Because in my app module build.gradle, to write
[code]
When I delete them to fix the problem.

[2015-10-15 03:41] #217 closed

[2015-10-15 16:08] koral-- commented on #51
Another possible reason: https://github.com/koral--/android-gif-drawable/issues/217#issuecomment-148273091

[2015-10-15 16:08] koral-- commented on #201
Closing due to inactivity. One of the hints: https://github.com/koral--/android-gif-drawable/issues/217#issuecomment-148273091

[2015-10-15 16:08] #201 closed

[2015-10-16 13:25] lingangAaron opened #218 "heap corruption for some gifs"
Hi Koral
I used this in my app ， but met heap corruption . i set the bad gif and the normal gif in turns for test for A certain number of times . the bad gif provided below . i just don't why ? May you just look at this issue .

new the GifDrawable
mDrawable = new GifDrawable(path);
setImageDrawable(mDrawable);

when recycle it when detachWindow
 mDrawable.recycle();
 mDrawable = null;

it surely

[2015-10-17 02:51] tianqiujie opened #219 "Hi, I want add Text to gif,and can you tell me how to do it?"
Hi, I want add Text to gif,and can you tell me how to do it? thank you

[2015-10-17 03:49] tianqiujie commented on #219
And I just want the gifImageView to display the edited Bitmaps. How to ?

[2015-10-17 09:15] lingangAaron commented on #218
Hello Hello ?

[2015-10-17 10:53] koral-- commented on #218
OK, I'll check that.

[2015-10-18 05:13] lingangAaron commented on #218
i just found not only some gifs , other gifs no heap corruption before now has little ....it's weird.

[2015-10-18 09:54] lingangAaron commented on #218
i add
if (GifFile->Private != NULL) {
    	free(GifFile->Private);
    	GifFile->Private = NULL;
    }
    if(info->gifFilePtr != NULL){
    	free(info->gifFilePtr);
    	info->gifFilePtr = NULL;
    }
in cleanup , but  not work
I try to call this GifFreeSavedImages in cleanup , but app is freeze....==

[2015-10-18 20:33] koral-- commented on #218
How are you checking heap size?
`GifFile->Private` and `info->gifFilePtr` are already freed (see `dgif_lib.c`).

[2015-10-18 21:07] koral-- commented on #219
This library does not support GIF editing, so you cannot modify GIF files, but maybe 2 following options will be helpful:
* you can extract bitmap of each frame eg. using `GifDrawable#seekToFrameAndGet()`, modify that bitmaps and assemble your own animation
* you can create custom `Drawable.Callback` which apart from normal action (invalidating `View` with `GifDrawable`) will appropriately change

[2015-10-18 21:07] #219 closed

[2015-10-19 01:07] lingangAaron commented on #218
adb shell dumpsys meminfo
the native heap is growing

[2015-10-19 01:14] lingangAaron commented on #218
i user the older version not calling DGifCloseFile int cleanup
i download the last it surely called ....

[2015-10-19 02:42] koral-- commented on #218
I could not reproduce heap corruption using that GIF loaded from path.
Note that `dumpsys meminfo` shows info about all memory of an app, not only that allocated by this library thus returned numbers may change even if no library code is executed.

[2015-10-19 02:42] #218 closed

[2015-10-19 03:34] lingangAaron commented on #218
ok， i’ll check my code .
any way thanks a lot

[2015-10-19 06:16] lingangAaron commented on #218
Hi koral,
i don't how to check or locate the heap corruption in native heap like so file
would you please give some available way to work on it or some tools you used ?
Thanks very much

[2015-10-20 23:59] koral-- commented on #218
There are several tools eg. [Valgrind](http://valgrind.org/) and [AddressSanitizer](https://source.android.com/devices/tech/debug/asan.html). Note that app will extremely slow down when run under Valgrind, it may take several minutes to start an Activity. Moreover memory allocated in `JNI_OnLoad()` may be listed as reachable in loss record, it is not a bug because `JNI_OnUnload()` (when that memor

[2015-10-23 12:10] kovidkapoor opened #220 "Crashing in GifViewUtils"
Hi,

We're using this library to animate the loading icon for our Android app, and we faced this crash after the latest updated. I wish I could interpret the error better, but I'm posting the error details below

Fatal Exception: java.lang.RuntimeException
Unable to resume activity {com.holidify.andorid.app.holidify/com.holidify.andorid.app.holidify.ui.SplashActivity}: android.view.InflateExceptio

[2015-10-23 12:24] koral-- commented on #220
Please post complete stacktrace.

[2015-10-23 13:27] kovidkapoor commented on #220
java.lang.RuntimeException: Unable to resume activity {com.holidify.andorid.app.holidify/com.holidify.andorid.app.holidify.ui.SplashActivity}: android.view.InflateException: Binary XML file line #15: Error inflating class pl.droidsonroids.gif.GifTextView
       at android.app.ActivityThread.performResumeActivity(ActivityThread.java:2989)
       at android.app.ActivityThread.handleResumeActivity(Ac

[2015-10-23 13:34] koral-- commented on #220
`Caused by: java.lang.NoClassDefFoundError: pl.droidsonroids.gif.R$styleable` it looks like you are using Eclipse or have copied only java sources without XML files. See https://github.com/koral--/android-gif-drawable-eclipse-sample

[2015-10-23 13:34] #220 closed

[2015-10-26 07:25] ayyb1988 opened #221 "Failed to resolve: pl.droidsonroids.gif:android-gif-drawable:1.1.+"
Error:(157, 13) Failed to resolve: pl.droidsonroids.gif:android-gif-drawable:1.1.+
<a href="openFile:/home/xxx/work/xxx/app/build.gradle">Show in File</a><br><a href="open.dependency.in.project.structure">Show in Project Structure dialog</a>

[2015-10-26 15:35] koral-- commented on #221
It looks like an error in your `build.gradle` files and/or Internet connection. You don't have correct repository configured in your repositories block (must be `mavenCentral()` and/or `jcenter()`) or request to repository has failed.
If you have closure like this in `build.gradle` of your project (NOT inside `buildscript`):
[code]
and your Internet connection is fine but dependency still cannot b

[2015-10-26 15:35] #221 closed

[2015-10-27 04:34] pengbs opened #222 "how to set the loop count by myself?"
hi,i want to loop only once,how to set it by myself ? thank you very much!

[2015-10-27 06:51] #222 closed

[2015-10-30 12:37] sherryein opened #223 "how to use this aar into apk? My project based maven and create apk missing .so"

[2015-10-30 23:47] koral-- commented on #223
It looks like your `pom.xml` is incorrect. Look at [README](https://github.com/koral--/android-gif-drawable#maven-dependency).
I've modified one of the sample projects of `android-maven-plugin` to include `android-gif-drawable` dependency:
https://github.com/koral--/android-maven-plugin/blob/android-gif-drawable/src/test/projects/helloflashlight/pom.xml#L22
In that case .so files are present in `a

[2015-10-30 23:47] #223 closed

[2015-10-31 04:49] addresseerajat opened #224 "Crashing in GifViewUtils"
Hi,

We're using this library to animate the loading icon for our Android app, and we faced this crash after the latest updated. I wish I could interpret the error better, but I'm posting the error details below.

Fatal Exception: java.lang.RuntimeException: Unable to resume activity {com.holidify.andorid.app.holidify/com.holidify.andorid.app.holidify.ui.SplashActivity}: android.view.InflateExcept

[2015-10-31 18:32] koral-- commented on #224
`Caused by java.lang.NoClassDefFoundError: pl.droidsonroids.gif.R$styleable`
Direct reason is that mentioned class has not been found.
Is that the same APK on both devices?
Do you have custom proguard configuration (I see no line numbers)?

[2015-11-02 06:35] addresseerajat commented on #224
Yeah, it's the same APK on both the devices.
Also, I have not added any custom proguard configuration.

Later, I found out if I use version 23.0.1 of google support libraries, then the app runs smoothly on all the devices. However if I change the dependency version to 23.1.0, the app crashes on selected devices.

Here is my build.gradle for reference,

buildscript {
    repositories {
        jcen

[2015-11-03 08:38] shewenbiao opened #225 "How to exclude arm64-v8a, mips, mips64, x86, x86_64?"
Hi, @koral--

Thanks for providing an awesome library!

I used android-gif-drawable library in my project through gradle dependency. I build my project, then I reversed my apk file and found some folders in lib folder, these folder are arm64-v8a, mips, mips64, x86, x86_64, armeabi, armeabi-v7a, but my project only need armeabi and armeabi-v7a. So how to exclude these folders except armeabi and arm

[2015-11-03 08:58] thanawatSuj opened #226 "GIF not Animation"
<pl.droidsonroids.gif.GifImageView
        android:layout_width="100dp"
        android:layout_height="100dp"
        android:src="@drawable/loading"
        android:layout_centerInParent="true"/>

i add did code in xml of Splashscreen Activity.

but gig not animation some device eg HTC desire Android 5.0
Sony TX Android 4.3
but Samsung S6 Android 5.1.1 that work

how to solve it

[2015-11-03 10:55] #226 closed

[2015-11-03 14:54] koral-- commented on #224
I'm not familiar with multidex but it maybe caused by the fact that class `pl.droidsonroids.gif.R$styleable` is located in different dex file and for some reason is not loaded at the time of exception occurrence.

[2015-11-03 15:04] koral-- commented on #225
Assuming that you are using stable (non-experimental) android gradle plugin:
* add `android.useDeprecatedNdk=true` to your `gradle.properties` file
* add ```        ndk {
            abiFilters 'armeabi-v7a', 'armeabi'
        }``` to `android.defaultConfig` closure (it maybe located also inside flavor or buildType configuration) of `build.gradle`

If you are using experimental gradle plugin, synt

[2015-11-03 15:04] #225 closed

[2015-11-04 02:29] shewenbiao commented on #225
@koral--

Thanks for your help!

[2015-11-04 10:18] dnutcracker commented on #148
What was the problem? How did you fixed it?

[2015-11-04 10:43] es-andreev commented on #148
The issue was related to multithreading, every time view appeared on screen, I started a new thread to show content in GifImageView, but when view gone beyond bounds, the thread did not finish it's job and was left in memory, while another thread was started when this view appeared on screen again. So I fixed the threading issue and the problem gone.

[2015-11-04 12:06] dnutcracker commented on #148
Alright. Thanks for the quick response!

[2015-11-06 02:08] pengbs opened #227 "picture spent"
when i use GifImageView in ListView to display gif picture and i set fixed width and height, now the picture will spent, please help me ,thank you very much!

[2015-11-06 02:11] spysoos commented on #227
You should try the Glide lib.
2015年11月6日 上午10:08，"pengbs" <notifications@github.com>写道：

[2015-11-06 02:24] pengbs commented on #227
thanks for you advice,but i want to controll the gif, e.g stop,start etc,so is there any other way ?

[2015-11-06 03:56] koral-- commented on #227
@pengbs what does it exactly mean that picture is spent?

[2015-11-06 04:05] pengbs commented on #227
the picture blurred

[2015-11-06 09:53] SinghLucky commented on #166
Hi Koral
 i want to repeat gif in GIFImageView

[2015-11-06 16:35] koral-- commented on #227
Could you attach affected GIF file?

[2015-11-08 01:26] koral-- commented on #224
I was able to reproduce similar issue (differing only by class which was not found). Adding `multiDexEnabled true` is not enough for multidex feature to work.
You should also add:
* dependency: `compile 'com.android.support:multidex:1.0.1'`
* use one of 3 ways described in [MultiDexApplication](http://developer.android.com/reference/android/support/multidex/MultiDexApplication.html)
See also:
http

[2015-11-08 01:26] #224 closed

[2015-11-08 20:31] koral-- commented on #166
@SinghLucky, assuming that you want infinite repeat count, you can do something like this:
[code]
BTW that should be located in separate issue.

[2015-11-09 16:49] koral-- commented on #51
For anyone searching for the issue `findLibrary returned null`:
It looks like, there is just a problem with native libraries on some devices:
https://medium.com/keepsafe-engineering/the-perils-of-loading-native-libraries-on-android-befa49dce2db
https://codereview.chromium.org/200753002/patch/280001/260004

If someone confirms that mentioned workaround works, I'll add it to the library.

[2015-11-09 16:50] koral-- commented on #201
Another hint: https://github.com/koral--/android-gif-drawable/issues/51#issuecomment-155120328

[2015-11-09 23:21] fgatti675 commented on #51
I started having the UnsatisfiedLinkError and I found out that adding this in my gradle build was causing it:

        classpath 'com.google.gms:google-services:1.5.0-beta2'

Problem is... I need it! Any ideas? :)

[2015-11-10 18:23] koral-- commented on #51
Interesting I'll check this.

That plugin parses JSON from Google API console and generates for you string resources containing stuff like ids for GCM or Google Analytics, API key for Google Maps etc. The same effect can be achieved by manual copy-pasting that values.

Not sure how can it be related to `UnsatisfiedLinkError` maybe because it depends on beta version of `com.android.tools.build:grad

[2015-11-11 07:35] david145 commented on #51
I'm also getting a UnsatisfiedLinkError:
[code]

It's working on my xperia z3 compact but on a nexus 4 with an older android version I'm getting this error.

[2015-11-11 20:58] koral-- commented on #51
@david145 Unfortunately I could not reproduce that on available device, but according that SO post: http://stackoverflow.com/questions/28806373/android-4-2-ndk-library-loading-crash-load-librarylinker-cpp750-soinfo-l there is a workaround for your issue.

Could you try adding `System.loadLibrary("pl_droidsonroids_gif");` somewhere before using `GifTextureView` eg. in `onCreate()` of your `Applicat

[2015-11-11 23:07] david145 commented on #51
Tried it and added to the onCreate( ) of my main activity, but still getting the same error. I have no clue, what could be the problem, because it worked fine about two weeks ago when I tested it on the same device.

[2015-11-12 01:47] koral-- commented on #51
Was your being updated during that 2 weeks or it was the same installation and just stopped working?

[2015-11-12 02:50] david145 commented on #51
Did a lot of things on the app, so it definitely changed, but I can't tell what exactly causes that.

[2015-11-13 01:00] koral-- commented on #51
@david145  so, that may be the same case as described here:
https://medium.com/keepsafe-engineering/the-perils-of-loading-native-libraries-on-android-befa49dce2db
and here:
https://codereview.chromium.org/200753002/patch/280001/260004

I've just added slightly modified ReLinker. To use it call `WorkaroundLibraryLoader#loadLibraries()` before using `GifTextureView`. Available in version `1.1.11-SNA

[2015-11-15 23:33] david145 commented on #51
@koral-- Sorry for waiting, wasn't here on the weekend. Just tried to compile the SNAPSHOT and Android Studio is giving me "Failed to resolve: compile 'pl.droidsonroids.gif:android-gif-drawable:1.1.11-SNAPSHOT".

[2015-11-16 00:58] koral-- commented on #51
You need to add maven snapshot repository in `build.gradle`:
`maven{ url('https://oss.sonatype.org/content/repositories/snapshots')}` in `repositories` block (NOT inside `buildscript`).

[2015-11-16 04:45] david145 commented on #51
@koral-- Alright, did that, using `WorkaroundLibraryLoader.loadLibraries(this);` in my `onCreate()` method, right before using the gifs aand it works great now, all good. Thanks for helping so fast! :-)

[2015-11-16 17:46] koral-- commented on #51
Yes, not sure yet if it will be exactly the same code as in snapshot but something similar will be included.

[2015-11-16 21:18] DecentCow commented on #51
@koral-- Hi Koral, it does not work for me. I'm getting this error " dlopen failed: library "/data/data/com.demo.dev/app_lib/libpl_droidsonroids_gif.so" not found"

[2015-11-16 21:47] koral-- commented on #51
@DecentCow could you post complete stacktrace?

[2015-11-16 22:38] DecentCow commented on #51
@koral-- here's the stacktrace:

[code]
dev is a build variant (maybe it will help you)

[2015-11-17 13:15] koral-- commented on #51
@DecentCow in your case even Relinker did not manage to load native library. Is your scenario the same as described here: https://github.com/koral--/android-gif-drawable/issues/51#issuecomment-155982018? (library loading stopped working after app update) or that is a fresh app installation and loading does not work from the beginning?

[2015-11-17 23:22] StephaneTruong commented on #51
@koral-- Yes, it worked before but now after some update it does not work anymore.

[2015-11-17 23:22] DecentCow commented on #51
@koral-- Yes, it worked before but now after some updates it does work anymore.

[2015-11-18 14:48] koral-- commented on #51
OK, so it looks like that workaround from Relinker is incomplete. I guess that it failed to extract native libraries from APK. I'll modify workaround ASAP.

[2015-11-23 01:27] koral-- commented on #51
@DecentCow I've added one more step as a last resort - native library file is tried to be extracted from APK into temporary location, loaded and then deleted.

[2015-11-23 09:31] axeon opened #228 "Multi emotion gif not Animation in SpannableStringBuilder"
I want to display multi emotion gif in chat activity，so I use SpannableStringBuilder, and wrote code like sample to auto start ainimation and looped  ,but it run once or twice..., then stoped。

the code like this:

    private SpannableStringBuilder handleEmotion(final TextView gifTextView, String content) {
        SpannableStringBuilder sb = new SpannableStringBuilder(content);
        String re

[2015-11-23 21:58] koral-- commented on #228
`GifDrawable#setLoopCount()` accepts values in range <0, 65535>. Where 0 means infinite number of loops. Info is included in javadoc: https://github.com/koral--/android-gif-drawable/blob/master/src/main/java/pl/droidsonroids/gif/GifDrawable.java#L393

[2015-11-24 02:08] funorpain commented on #228
Callback is weak referenced by Drawable and will be garbage collected soon.

[code]

[2015-11-24 02:22] axeon commented on #228
@funorpain yes, maybe the problem caused by weak referenced callback。
but what shoud i do?
how to auto play multi gif?
@koral--

[2015-11-24 13:56] afaucogney opened #229 "Library can not be loaded"
I'm not sure this is different or identique to other issues:

I'm in a MultiDex context (FYI)

1/ I'm just try using the lib in a first basic usage:
- added with gradle

I coded the following:

`gifFromAssets = new GifDrawable(getActivity().getAssets(), "glass_shaking.gif");`

I got this error:

`java.lang.UnsatisfiedLinkError: dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/fr.xxxx

[2015-11-24 17:10] koral-- commented on #228
@funorpain is right, callback can be GC'ed. Here is the code which fixes 2 found bugs: https://gist.github.com/koral--/815ff6303e04b074386d

[2015-11-24 17:10] #228 closed

[2015-11-24 17:16] koral-- commented on #229
That should be already fixed in version 1.0.11-SNAPSHOT, but adding one line to code is needed. See here for more details: https://github.com/koral--/android-gif-drawable/issues/51#issuecomment-156285451

[2015-11-24 17:16] #229 closed

[2015-11-24 20:29] xiphirx commented on #51
Hi @DecentCow , can you verify two things?

1) The library files are actually present in the APK file
2) There are library files present in the APK file for the target architecture

In our experience, continued crashes on `UnsatisfiedLinkError` indicate that either the architecture is wrong or there actually are no libraries packaged in the APK. If that is not the case, I'm happy to provide any he

[2015-11-25 17:40] FaizVisram commented on #51
@xiphirx how would someone check 1 and 2?

[2015-11-25 18:03] xiphirx commented on #51
An APK file is just a plain old zip file, so you can open it as such and look for the presence or absence of the library files. Each library file will be in a folder denoting it's respective target architecture.

[2015-11-25 19:26] FaizVisram commented on #51
@xiphirx I see lib/[architecture]/libpl_droidsonroids_gif.so and libpl_droidsonroids_gif_surface.so for all architectures. May be worth noting that this is the only lib I have that uses NDK.

[2015-11-25 19:31] xiphirx commented on #51
@FaizVisram Are you running into the problem on your device?

[2015-11-25 19:37] FaizVisram commented on #51
@xiphirx yup, I believe the stack trace is the same as the latest one above (UnsatisfiedLinkError)

[2015-11-25 19:38] xiphirx commented on #51
What device do you have?

[2015-11-25 19:39] FaizVisram commented on #51
@xiphirx Nexus 5, 6.0.0

[2015-11-25 19:41] xiphirx commented on #51
Can you check to see if there is anything inside of the `libs` or `app_lib` folder? Those folders are located in `/data/data/<your app package>/`, if you are not rooted you have to use the command `run-as <your app package>`.

If there are files in those folders, can you check up on their size?

[2015-11-25 19:41] FaizVisram commented on #51
Also might be worth noting that I tried the 1.1.11 SNAPSHOT and .8, .9 and .10

[2015-11-25 19:44] FaizVisram commented on #51
@xiphirx yes there is, in `/data/data/[package]/lib/`

[2015-11-25 19:48] xiphirx commented on #51
so `libpl_droidsonroids_gif.so` is in your `/lib/` folder, and it still cannot find it? How are you loading the library in your code?

[2015-11-25 19:54] koral-- commented on #51
@FaizVisram if your stacktrace is the same as last in this thread: https://github.com/koral--/android-gif-drawable/issues/51#issuecomment-157193898 then you are not using the latest snapshot but previous one.
There are 2 snapshots with version 1.0.11: https://oss.sonatype.org/content/repositories/snapshots/pl/droidsonroids/gif/android-gif-drawable/1.1.11-SNAPSHOT/. The latest one has been uploaded

[2015-11-25 21:02] FaizVisram commented on #51
@koral-- Ah, that did it. I cleared the Gradle cache and it seems to be working for me, I'll let you know if my QA says otherwise (won't get to it until tomorrow at least).

[2015-11-26 17:27] FaizVisram commented on #51
@koral-- the latest version passed our QA, thought you'd like to know :) Thanks for all your help guys, and thanks for the library too :D

[2015-11-29 04:38] koral-- commented on #51
@david145 @FaizVisram (and others using 1.1.11-SNAPSHOT version), there will be little changes in release version. `WorkaroundLibraryLoader#loadLibraries()` has been replaced by `LibraryLoader#initialize()`. Current snapshot is called `1.1.11-r1-SNAPSHOT`.

[2015-11-29 10:23] tzaccai opened #230 "direct stream of gif"
is there a way to stream an animated gif directly from the internet, without downloading it?

p.s.
I'm using `GifTextureView` for rendering via **openGL** `Texture`.

[2015-11-29 23:27] koral-- commented on #230
Yes it possible, you have to buffer all GIF eg. in byte array or wrap your source `InputStream` with `BufferedInputStream`. I've added example with OkHttp and byte array in sample project: https://github.com/koral--/android-gif-drawable-sample/blob/master/sample/src/main/java/pl/droidsonroids/gif/sample/HttpFragment.java#L52

[2015-11-29 23:27] #230 closed

[2015-12-01 23:46] koral-- commented on #227
Closing due to inactivity, can be reopened if more info will be provided.

[2015-12-01 23:46] #227 closed

[2015-12-02 00:58] koral-- commented on #51
OK, finally this issue can be closed. Workaround should work even without calling `LibraryLoader#initialize()`. In such case there is fallback to hidden `ActivityThread#currentApplication()` as source of `Context`. However calling `initialize()` is recommended. Info has been added to README.

[2015-12-02 00:58] #51 closed

[2015-12-02 07:27] xxccll opened #231 "use ImageSpan with GifDrawable,the FPS becomes about 2"
here is the code
[code]

[2015-12-02 20:41] koral-- commented on #231
Did you set callback for `d`?
See example for more info: https://github.com/koral--/android-gif-drawable-sample/blob/master/sample/src/main/java/pl/droidsonroids/gif/sample/ImageSpanFragment.java#L32

[2015-12-02 20:42] afaucogney commented on #229
you mean 1.1.11-SNAPSHOT !

[2015-12-02 21:00] afaucogney commented on #51
I still get an issue:

    Library libpl_droidsonroids_gif.so not found in APK file

I have the 1.1.11-r1-SNAPSHOT
Put:

    LibraryLoader.initialize(this);
in my Activity OnCreate.

And then add this in my Fragment.

    GifDrawable gifFromAssets = null;
    try {
       gifFromAssets = new GifDrawable(getActivity().getAssets(), "glass_shaking.gif");
    } catch (IOException e) {
       e.printSt

[2015-12-02 21:03] xiphirx commented on #51
`Library libpl_droidsonroids_gif.so not found in APK file` means the library is not in your App's APK, so you have a packaging issue.

[2015-12-02 21:15] afaucogney commented on #51
I do not know what it is really mean. I just use the standard way. However my app is multi-dex (if that can help).

[2015-12-02 21:18] xiphirx commented on #51
Your APK file does not have the library file inside of it. You can verify this by renaming your APK to a ZIP file and unpacking it.

[2015-12-02 21:34] afaucogney commented on #51
Yes, nothing inside, but why ?

[2015-12-02 21:35] xiphirx commented on #51
There can be a lot of reasons, however its not related to this issue and its not an issue with the library.

[2015-12-02 21:38] afaucogney commented on #51
is the lib should normally be added from Gradle dependency compile function  ?

[2015-12-03 00:15] koral-- commented on #51
@afaucogney all AARs published to maven repositories contains libraries and they should be placed into resulting APK (in `lib` directory) by default.
If there is no such directory in APK then it looks like a misconfiguration in `build.gradle` like empty `abiFilter`.
Could you post contents of your `build.gradle` (including top-level one if present) and version of Gradle (wrapper) which you are usi

[2015-12-03 00:36] koral-- commented on #229
Right, I'll correct previous post. Actually current version is 1.1.11 (no SNAPSHOT).

[2015-12-03 08:39] afaucogney commented on #229
Just for info, if you gradle the 1.1.++ (as writtent in Readme), you'll get the r2-SNAPSHOT

[2015-12-03 08:53] afaucogney commented on #51
@koral-- this is my first native lib integration, feel free to think basic issue !

I just follow the Readme, so
1. put `compile 'pl.droidsonroids.gif:android-gif-drawable:1.1.11'` into my app gradle file.
2. init the lib `LibraryLoader.initialize(this);`
3. use the lib
[code]
Nothing else added up to now.
Nothing about abiFilter.

My app is a multi-dex
When I unzip, I have a lib folder with 2 lib

[2015-12-03 09:55] afaucogney opened #232 "Cannot get the 1.1.11 version with Gradle"
When specifying the 1.1.11, gradle failed
When specifying the 1.1.+, gradle download the 1.1.11-r2-SNAPSHOP
When specifying the 1.1.10, gradle succed

[2015-12-03 13:01] ashwani-bhargava opened #233 "How can i get the gifImageView to respond have one touch scaling rotation and dragging ? please help"

[2015-12-03 19:29] koral-- commented on #232
Propagation of release versions to all maven central repository servers has several hours delay. 1.1.11 should be available now.

[2015-12-03 19:29] #232 closed

[2015-12-03 19:36] koral-- commented on #233
You have to implement your own [GestureDetector](http://developer.android.com/training/gestures/detector.html#detect) or use some library like [PhotoView](https://github.com/chrisbanes/PhotoView)

[2015-12-03 19:36] #233 closed

[2015-12-03 19:44] koral-- commented on #229
Just below that section with mentioned compile dependency, there is another with repositories. Snapshot versions are available only in snapshot repository but not on central one which is the only listed in readme.
However to be clear I'll change + to exact version number and info about snapshot repo to readme.

[2015-12-03 20:22] koral-- commented on #51
There should be 7 subdirectories in `lib` each for separate architecture by default. Each of them should contain 2 so files. There must be also at least one directory corresponding to architecture supported by target device in resulting APK to work.
This is an exaple content of APK:
[code]
If you have only 2 directories inside `lib` then something must cause stripping other ones.
NDK is needed onl

[2015-12-04 06:10] xxccll commented on #231
yeah , it works after I set callback for d!  thanks

[2015-12-04 10:58] #231 closed

[2015-12-09 09:59] dss886 opened #234 "GIF doesn't play when textview is been set selectable"
I am using this project to show emotion gifs in Textview, everything works right at first. But when I set textView.setTextIsSelectable(true)(to select text by long press), gifs don't play unless touch the textview. Here is my code:

set GifDrawable in a span:

[code]

GifCallback:
[code]

[2015-12-10 02:29] koral-- commented on #234
Calling `TextView#invalidate()` will not cause redrawing if `TextView` has editor associated (which is true eg. when `#setTextIsSelectable(true)` has been called).
One of the solution is to perform manually particular actions related to selection, eg. if you just want all text to be selected after long press, you can use something like this:
[code]

[2015-12-10 02:29] #234 closed

[2015-12-14 03:19] kaka2009 opened #235 "Couldn't load pl_droidsonroids_gif: findLibrary returned null at java.lang.Runtime.loadLibrary(Runtime.java:365) at java.lang.System.loadLibrary(System.java:535) at pl.droidsonroids.gif.GifInfoHandle.<clinit>(Unknown Source)"
in some device （not all），error ：Caused by: java.lang.UnsatisfiedLinkError: Couldn't load pl_droidsonroids_gif: findLibrary returned null
	at java.lang.Runtime.loadLibrary(Runtime.java:365)
	at java.lang.System.loadLibrary(System.java:535)
	at pl.droidsonroids.gif.GifInfoHandle.<clinit>(Unknown Source)

how to solve it？

[2015-12-14 13:06] koral-- commented on #235
It looks like you are not using current library version (1.1.11). See also https://github.com/koral--/android-gif-drawable#upgrading-from-1110.

Issue is a duplicate of: https://github.com/koral--/android-gif-drawable/issues/51

[2015-12-14 13:06] #235 closed

[2015-12-18 03:27] juhuacha18 opened #236 "gradle build error"
hi ,this is the first time that i use this awesome project....
i read your docs and add compile 'pl.droidsonroids.gif:android-gif-drawable:1.1.+' in build.gradle
but when gradle sync finished it always said

Error:Execution failed for task ':common_library:preparePlDroidsonroidsGifAndroidGifDrawable1111Library'.

how can i solve this problem?

[2015-12-18 08:18] #236 closed

[2015-12-19 02:45] koral-- commented on #234
@dss886 Workaround is to use software layer on `TextView`. Eg. `textView.setLayerType(View.LAYER_TYPE_SOFTWARE, null);`

[2015-12-28 13:12] fahadDeveloper opened #237 "java.lang.ExceptionInInitializerError"
I am using this library. it was working fine I just add this compile 'pl.droidsonroids.gif:android-gif-drawable:1.1.+' in my build.gradle and all was going fine. but when I tried to add google play services
compile 'com.google.android.gms:play-services-auth:8.3.0' it was giving me  java.lang.UnsatisfiedLinkError I read your issue on link https://github.com/koral--/android-gif-drawable/issues/51#is

[2015-12-28 14:54] koral-- commented on #237
` java.lang.IllegalStateException: Library libpl_droidsonroids_gif.so for supported ABIs not found in APK file` means that there is no directory for expected ABI inside APK file.
One of the reasons is that you have defined ABI filter or ABI split in `build.gradle` and installed APK does not match your device.
If you have not defined split nor filter please post what is your device and what is the

[2015-12-29 06:12] fahadDeveloper commented on #237
I've search my build.gradle (both) couldn't find anything like ABI filter or ABI split, I've printed like this, Log.d(TAG, "CPU_ABI: " +Build.CPU_ABI + ", CPU_ABI2: " + Build.CPU_ABI2 + ", Device: " + Build.DEVICE); it gives me this output:
CPU_ABI: armeabi-v7a, CPU_ABI2: armeabi, Device: hammerhead
and my device is LGE Nexus 5 Android 6.0.1 (API 23)

[2015-12-29 13:05] koral-- commented on #237
OK, `CPU_ABI` is correct for Nexus 5. Could you check if file `lib/armeabi-v7a/libpl_droidsonroids_gif.so` is located inside your APK? You can do that using commadline eg. `unzip -l <path to apk> |grep armeabi-v7a` (file should be listed) or using some file manager (open apk like zip file).

[2015-12-30 06:30] xiejinglan opened #238 "set a precise size will be crash.."
hi !
i use the GifImageView on XML file.  when i set a precise size for the height or width, it's will be crash..

[2015-12-30 06:30] fahadDeveloper commented on #237
when I run my app with google play api I couldn't find even the lib folder in my apk. but when I build and run without that apk all is well.

[2015-12-30 13:47] koral-- commented on #238
Please post a stacktrace.

[2015-12-30 14:54] koral-- commented on #237
So it looks like that something is preventing native libs directory from being bundled into APK. Are using latest build tools and android gradle plugins?
I've tried applying steps from https://developers.google.com/cloud-messaging/android/client#add-config to the clean sample project https://github.com/koral--/android-gif-drawable-sample and native libraries are packaged correctly.

[2015-12-31 10:54] fahadDeveloper commented on #237
thank you koral. I changed my buildToolsVersion to "23.0.2", then I include latest google plus api compile 'com.google.android.gms:play-services-auth:8.4.0' in app level build.gradle and in project level build.gradle:
  classpath 'com.android.tools.build:gradle:2.0.0-alpha3'
   classpath 'com.google.gms:google-services:2.0.0-alpha3'
then I also have change distributionUrl in gradle-wrapper.propert

[2015-12-31 12:55] #237 closed

[2015-12-31 12:57] koral-- commented on #51
@afaucogney issue similar to yours: https://github.com/koral--/android-gif-drawable/issues/237#issuecomment-168169705
Solution was to update gradle plugin version.

[2016-01-05 08:24] huyduongtu opened #239 "Add subsampling option"
Firstly, thanks for your library. It works well and save my life a lot
In your lib, you create a Bitmap in java heap with size based on the width and height of each frame. Foe each frame, you set the corresponding color pixel of the bitmap in native.
But If the gif size is so big (width and height of each frame are big also) and the imageview is small. I'm afraid of creating the bitmap can causes

[2016-01-05 11:26] huyduongtu commented on #124
@guqun Did you find any solution for supporting resize Gif image yet? I'm facing this problem, too.

[2016-01-05 17:58] koral-- commented on #239
Currently there is no way reduce size of bitmaps used as frame buffers in `GifDrawable` from code. There are only indirect ways to reduce overall memory usage in given moment of time eg. by reusing existing `GifDrawable` instances instead of creating them from scratch.
However I'll add resampling option ASAP.

[2016-01-06 02:08] huyduongtu commented on #239
Thanks for your quick response. Could you tell the way to reuse existing GifDrawable?
And when subsampling option is available?

[2016-01-07 00:32] koral-- commented on #239
Reusing existing `GifDrawable` is similar to [BitmapFactory.Options.inBitmap](http://developer.android.com/reference/android/graphics/BitmapFactory.Options.html#inBitmap). You have to pass existing drawable to `GifDrawableBuilder`. I've added that to [sample project](https://github.com/koral--/android-gif-drawable-sample/blob/master/sample/src/main/java/pl/droidsonroids/gif/sample/GifSourcesFragme

[2016-01-07 02:59] huyduongtu commented on #239
You said "Sets drawable to be reused when creating new one. Currently it works only on  KITKAT and newer, on older API levels call has no effect.". Older version can not use this way.
About GifTextureView, I don't understand how it works. Can you clarify it for me?
The secret is
[code]
Is it right?

[2016-01-07 03:20] koral-- commented on #239
Note about Kitkat in javadoc is outdated, this issue reminded me to remove it and it is not present in the latest snapshot. Drawable reusing is working in API levels.

For `GifTextureView` you have to use [#setInputSource](http://koral--.github.io/android-gif-drawable/javadoc/pl/droidsonroids/gif/GifTextureView.html#setInputSource-pl.droidsonroids.gif.InputSource-). Keep in mind that TextureView i

[2016-01-07 03:24] huyduongtu commented on #239
Thanks. Hope to see the next subsampling feature soon.

[2016-01-07 03:29] huyduongtu commented on #239
One more question. I'm implementing a cache that keeps GifDrawable in memory. I wonder how much space does GifDrawable take in memory? It is much?
In my opinion, GifDrawable just has only one bitmap for the current frame, the rest is in native memory. So it is ok to keep them in memory? Right?

[2016-01-07 07:23] huyduongtu opened #240 "Crash when using GifTextureView in ListView"
I'm using GifTextureView in ListView item.
The code segment in Adapter is following:
[code]
When I press back away off this activity. It crashes or show dialog ANR.
[code]

[2016-01-07 12:45] koral-- commented on #239
There is always one `Bitmap` in terms of `android.graphics.Bitmap`. If GIF uses "Restore to previous" disposal method then additionally memory of size equal to bitmap (4 bytes per pixel) is allocated in native code.

[2016-01-07 16:04] koral-- commented on #240
That exception occurs because process has been interrupted by clicking OK/Force Close button in crash/ANR dialog. That another crash/ANR is not necessarily caused by this library.
Basically waiting for the moment of frame rendering is interrupted because app process is being killed.
Only thing I can do is to ignore interruption and exit from rendering loop gracefully. You need to find a reason of

[2016-01-07 16:07] huyduongtu commented on #240
I don't know why. My listview's item is GifTextureView. When I press Back to exit the activity. It always crashes or shows ANR dialog.
What should I do to avoid this?

[2016-01-07 16:13] koral-- commented on #240
Could you post complete logcat?

[2016-01-07 22:44] koral-- commented on #240
OK, I was able to reproduce ANR. I'll fix it ASAP.

[2016-01-08 07:13] huyduongtu commented on #240
This is all in my adapter.
[code]
The log crash is:
[code]

It always crashes or show ARN dialog

[2016-01-08 20:10] koral-- commented on #240
Fixed in 1.1.12-SNAPSHOT.

[2016-01-08 20:10] #240 closed

[2016-01-09 03:40] fly263 opened #241 "Can't loop play?"
Just play once.

[2016-01-09 08:08] huyduongtu opened #242 "[Question] About ReLinker and Android NDK"
[code]

In method `unpackLibrary()` of class `ReLinker`, why do you include `BuildConfig.VERSION_NAME`?
What is it for?

Why do you have to build 2 separate .so files? `libpl_droidsonroids_gif.so` and `libpl_droidsonroids_gif_surface.so`.
 It's better to make them as one file. I see that the lib just load the file `libpl_droidsonroids_gif.so`. So can I remove the file `libpl_droidsonroids_gif_surf

[2016-01-09 16:14] koral-- commented on #242
Why `BuildConfig.VERSION_NAME` is appended?
In a nutshell there is a bug in certain versions of Android’s PackageManager which causes native library loading issues after app update. This is a part of a workaround for that issue. Normally native libraries should be extracted by PackageManager from APK to certain directory in internal storage, replaced on app update and loaded when `System.loadLibra

[2016-01-09 16:14] #242 closed

[2016-01-09 16:17] koral-- commented on #241
It looks that your GIF file have loop count set to one. You can change it programmatically using code like this: `GifDrawable#setLoopCount(0);`. 0 means infinite number of loops.

[2016-01-09 16:17] #241 closed

[2016-01-10 03:29] koral-- commented on #206
Lightweight wrapper of `GifInfoHandle` - `GifDecoder` added in 8aded2db73141a122e20c6bafbf8ec61fa0882ef

[2016-01-10 03:29] #206 closed

[2016-01-11 02:58] huyduongtu commented on #242
Thanks for your quick reply.
So I wanna make a android library module for GifDrawable. And don't wanna change the version of the library in future. So can I remove ```BuildConfig.VERSION_NAME``` in ReLinker?
For the ReLinker works normally, I have to call LibraryLoader.initialize() firstly?

[2016-01-11 03:22] koral-- commented on #242
`BuildConfig.VERSION_NAME` is generated automatically by gradle from properties file at the compile time. It is a version of library module defined here: https://github.com/koral--/android-gif-drawable/blob/master/gradle.properties#L1
`LibraryLoader.initialize()` should be called.

[2016-01-11 03:31] huyduongtu commented on #242
Can I define ```BuildConfig.VERSION_NAME``` in ```AndroidManifest.xml``` or ```build.gradle``` in library module?

When I go to definition (F3) of  ```BuildConfig.VERSION_NAME``` in class ReLinker. It jump into BuildConfig.java of library module with ```VERSION_NAME``` is "1.0", not the value (1.1.11) defined in properties file.
![zalo_screenshot_11_1_2016_1028428](https://cloud.githubusercontent.

[2016-01-11 15:13] koral-- commented on #242
Flow of version name is as follows:
1. it is defined as a property in `gradle.properties` - https://github.com/koral--/android-gif-drawable/blob/master/gradle.properties#L1
2. `project.version` is assigned - https://github.com/koral--/android-gif-drawable/blob/master/build.gradle#L19
3. `android.defaultConfig.versionName` is assigned - https://github.com/koral--/android-gif-drawable/blob/master/bu

[2016-01-11 16:25] huyduongtu commented on #242
Thanks for your very detailed answer.
But as I said before, I just used that pasted snippet
[code]
To build the .so files, I run ```ndk-build``` from command line. It successfully generated those .so files. Currently I can apply them in my project. I think the code in ```ndk.gradle``` is used for automatically generate so files by Android Studio when pressing build project? Right?
Besisdes,  becau

[2016-01-11 16:34] koral-- commented on #242
You haven't mentioned that you used `ndk-build' from commandline manually. If you do this then indeed files are compiled. Gradle task `buildNative` invokes `ndk-build` with appropriate parameters when project is compiled. So if you have it in gradle scripts then you don't need to invoke `ndk-build` manually.

[2016-01-11 16:35] huyduongtu commented on #239
So Does your lib use "Restore to previous" disposal method? Because native memory is stilled counted in limited memory used for an Android application. I need to know to consider how much space for the GifDrawable cache.